# Data Cleansing

Date: 13/05/2018

Version: 3.0

Environment: Python 3.6.0 and Anaconda 4.3.0 (64-bit)

Libraries used:
* pandas
* numpy 
* re 
* matplotlib.pyplot
* difflib


## 1. Introduction
This project comprises the execution of different cleaning methods applied to different varaibles in order to wrangle and clean dirty values in the dataset.

Tasks:
1. Importing libraries
2. Reading data in
3. Exploring and cleaning variables one by one. 

More details for each task will be given in the following sections.

## 2. Libraries

In [1]:
#importing libraries; more libraries will be added later if needed
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import difflib # for cleaning location
#!pip install fuzzywuzzy
# from fuzzywuzzy import fuzz
# from fuzzywuzzy import process

#code to show plots inline
%matplotlib inline

#display multiple df in one code segment
from IPython.display import display

## 3. reading data

In [2]:
df = pd.read_csv('dataset1_with_error.csv')

Data description provided

|COLUMN|DESCRIPTION|
|:---|:---|
|Id	|8 digit Id of the job advertisement|
|Title	|Title of the advertised job position|
|Location|	Location of the advertised job position|
|ContractType|	The contract type of the advertised job position, could be full-time, part-time or non-specified.|
|ContractTime|	The contract time of the advertised job position, could be permanent, contract or non-specified.|
|Company	|Company (employer) of the advertised job position|
|Category|	The Category of the advertised job position, e.g., IT jobs, Engineering Jobs, etc.|
|Salary per annum	|Annual Salary of the advertised job position, e.g., 80000|
|OpenDate	|The opening time for applying for the advertised job position, e.g., 20120104T150000, means 3pm, 4th January 2012.|
|CloseDate	|The closing time for applying for the advertised job position, e.g., 20120104T150000, means 3pm, 4th January 2012.|
|SourceName|The website where the job position is advertised.|

In [3]:
len(df)

25077

In [4]:
df.head()

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
0,12612628,Engineering Systems Analyst,Dorking,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20121103T000000,20121203T000000
1,12612830,Stress Engineer Glasgow,Glasgow,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130108T150000,20130408T150000
2,12612844,Modelling and simulation analyst,Hampshire,not available,permanent,Gregory Martin International,Engineering Jobs,30000,cv-library.co.uk,20130726T150000,20130924T150000
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,27504,cv-library.co.uk,20121214T000000,20130314T000000
4,12613647,"Pioneer, Miser Engineering Systems Analyst",Surrey,not available,permanent,Gregory Martin International,Engineering Jobs,24996,cv-library.co.uk,20131025T000000,20131224T000000

In [5]:
#checking info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25077 entries, 0 to 25076
Data columns (total 11 columns):
Id                  25077 non-null int64
Title               25077 non-null object
Location            25077 non-null object
ContractType        25077 non-null object
ContractTime        25077 non-null object
Company             21242 non-null object
Category            25077 non-null object
Salary per annum    25077 non-null object
SourceName          25077 non-null object
OpenDate            25077 non-null object
CloseDate           25077 non-null object
dtypes: int64(1), object(10)
memory usage: 2.1+ MB

We can see the following: 
- ID is in integer form while every thing else in string format. 
- There are null values in company

In [6]:
#checking if all unique
print('id', len(df.Id.unique()))
print('title', len(df.Title.unique()))

id 25077
title 25077

Also we can see that all ids and titles in the dataset are unique.

In [7]:
#checking value counts numerical
df.describe()

                 Id
count  2.507700e+04
mean   6.664312e+07
std    5.195261e+06
min    1.261263e+07
25%    6.720830e+07
50%    6.836110e+07
75%    6.871371e+07
max    6.924767e+07

In [8]:
#checking value counts categorical
df.describe(include=['O'])

,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
count,25077,25077,25077,25077,21242,25077,25077,25077,25077,25077
unique,25077,482,3,3,4879,8,1589,90,2203,2400
top,Senior Staff Nurse (HDU) Guildford,UK,not available,permanent,UKStaffsearch,IT Jobs,35004,totaljobs.com,20130127T150000,20130526T120000
freq,1,3996,19499,16194,248,7085,1011,5335,27,23

## 4.  Checking individual data

## Id

In [9]:
#checking all lenghts of id
df.Id.apply(lambda x: len(str(x))).unique()

array([8], dtype=int64)

In [10]:
#checking for characters other than digits
{re.search(r'\D+', str(x)).group() for x in df.Id.tolist() if re.search(r'\D+', str(x))}

set()

We can see that 
- all the IDs are of length 8
- Ids only contain digits (which was a given since the data is in integer format)

Since the data for ID is clean, we move on.

## Location

Lets first try to have a look at the unique values, just eye ball the data.

In [11]:
df.Location.unique()

array(['Dorking', 'Glasgow', 'Hampshire', 'Surrey', 'East Midlands',
       'Witney', 'Derby', 'Gateshead', 'UK', 'Avon', 'Wolverhampton',
       'Berkshire', 'North East England', 'North Yorkshire', 'East Sheen',
       'Buckinghamshire', 'London', 'Central London', 'York',
       'Newcastle Upon Tyne', 'Cambridge', 'Manchester', 'Maidstone',
       'Bradford', 'Burgess Hill', 'Birmingham', 'Derbyshire',
       'Leicestershire', 'The City', 'Staffordshire', 'Suffolk',
       'Haywards Heath', 'Jersey', 'South Yorkshire', 'Nottinghamshire',
       'Northamptonshire', 'Milton Keynes', 'Bristol', 'Hertfordshire',
       'Basingstoke', 'Warrington', 'West Yorkshire', 'South East London',
       'Salisbury', 'Leeds', 'North West London', 'Poole', 'Cumbria',
       'Huddersfield', 'Rotherham', 'West Sussex', 'Norwich', 'Cardiff',
       'Bury St. Edmunds', 'Braintree', 'Nottingham', 'Winchester',
       'Surey', 'Kent', 'Durham', 'Sunderland', 'Southampton', 'Essex',
       'Bournemouth', 'West London', 'Boston', 'Leicester', 'Hull',
       'Shrewsbury', 'Rugby', 'Scotland', 'Gainsborough', 'Aberdeen',
       'Oxfordshire', 'Harlow', 'North London', 'Woking', 'Dundee',
       'Fife', 'Inverness', 'Oxford', 'Frome', 'Devon', 'Torquay',
       'Exeter', 'Aylesbury', 'Sutton Green', 'Preston', 'Southport',
       'Lancashire', 'Slough', 'Brighton', 'Skipton', 'East Sussex',
       'Daventry', 'Newton Abbot', 'Cambridgeshire', 'Liverpool',
       'Cheshire', 'Chorley', 'Burnley', 'Marton-In-Cleveland',
       'Chelmsford', 'Southend-On-Sea', 'Brentwood', 'Ipswich',
       'Colchester', 'Clacton-On-Sea', 'Edinburgh', 'Watford',
       'Potters Bar', 'Borehamwood', 'Harrow', 'Brent Cross', 'Bexley',
       'Hereford', 'Middlesbrough', 'Northampton', 'Eastbourne',
       'Redhill', 'Horsham', 'Perth', 'High Wycombe', 'Reeding', 'Epsom',
       'Crawley', 'Kendal', 'Thetford', 'Lowestoft', 'Marlow',
       'Lincolnshire', 'Guildford', 'Worthing', 'Witham', 'Basildon',
       'Bolton', 'Weymouth', 'Dorchester', 'Hemel Hempstead', 'Luton',
       'Bedford', 'Doncaster', 'South Lanarkshire', 'Aberdeenshire',
       'Wigan', 'Gloucester', 'Chipping Norton', 'North Ayrshire',
       'Gravesend', 'Bedfordshire', 'Swindon', 'Shropshire', 'Ilford',
       'Sheffield', 'Blackpool', 'Ely', 'Coventry', 'Stirling',
       'Stockport', 'Tunbridge Wells', 'Dartford', 'Cheltenham',
       'Scunthorpe', 'Newport', 'Dunstable', 'Stroud', 'Margate',
       'Henley-On-Thames', 'Canterbury', 'Workington', 'Bagshot',
       'Barnsley', 'Corby', 'Cwmbran', 'Taunton', 'Andover',
       'West Midlands', 'Chester', 'Ealing', 'Solihull', 'Folkestone',
       'West Bromwich', 'Chichester', 'Bury', 'Widnes',
       'North West England', 'Sevenoaks', 'Northumberland', 'Ashford',
       'Southwark', 'Oldham', 'Uckfield', 'Christchurch', 'Halifax',
       'Arundel', 'Gosport', 'Amersham', 'Devizes', 'Crewe',
       'Stoke-On-Trent', 'Fareham', 'Leyland', 'Cornwall', 'Portsmouth',
       'Washington', 'Walsall', 'South West London', 'Stafford', 'Dudley',
       'Cheadle', 'Wales', 'East London', 'South Shields', 'Farnborough',
       'Bracknell', 'Reading', 'Prescot', 'Somerset', 'Gloucestershire',
       'Barnstaple', 'Bromley', 'Llandaff North', 'Chesterfield',
       'Northallerton', 'Dunfermline', 'Darlington', 'North Shields',
       'Dewsbury', 'Altrincham', 'Bridgwater', 'Reigate', 'Worcester',
       'Droitwich', 'Burton-On-Trent', 'Redcar', 'Sudbury',
       'South Croydon', 'Stockton-On-Tees', 'Harrogate', 'Wimbledon',
       'Norfolk', 'Lewes', 'Romford', 'Hove', 'South West England',
       'Macclesfield', 'Thirsk', 'Croydon', 'Lambeth', 'Bath',
       'Stratford-Upon-Avon', 'Bognor Regis', 'Fleet', 'Mansfield',
       'Richmond', 'Lincoln', 'Kettering', 'Yeovil', 'Bangor',
       'Huntingdon', 'Rushden', 'Morecambe', 'Merseyside', 'Stevenage',
       'Gillingham', 'Carlisle', 'Runcorn', 'Worcestershire',
       'Kidlington', 'Sidcup', 'Haslemere', 'Waterlooville',
       'North Lambeth', 'March', 'Stamford', 'Birkenhead',
       'Herefordshire', 'Wiltshire', 'Loughborough', 'Warminster',
       'Evesham', 'Melton Mowbray', 'Newbury', 'West End', 'Wakefield',
       'Northwich', 'Blaenau Gwent', 'Tamworth', 'Knutsford',
       'East Grinstead', 'Cressington', 'Keighley', 'Camberley',
       'Cannock', 'Letchworth Garden City', 'Rickmansworth',
       "King's Lynn", 'Swansea', 'Midlothian', 'Dorset', 'West Lothian',
       'Belfast', 'Antrim', 'Warwickshire', 'Bridgend', 'Lancaster',
       'Wilmslow', 'Eastern England', 'Beaconsfield',
       'Kingston Upon Thames', 'Northern Ireland', 'Eastleigh',
       'Brierley Hill', 'Redditch', 'Accrington', 'Caerphilly',
       'Bromsgrove', 'Barnet', 'Welwyn Garden City', 'Wetherby',
       'Tewkesbury', 'Lichfield', 'Kensington', 'Truro', 'East Riding',
       'Sittingbourne', 'Havant', 'Grantham', 'Isle Of Wight',
       'Weston-Super-Mare', 'Leatherhead', 'Hungerford', 'Bexhill-On-Sea',
       'Chertsey', 'Greenwich', 'Docklands', 'Telford', 'Salford',
       'Halesowen', 'Matlock', 'Hook', 'Edinburgh Technopole', 'Melksham',
       'Maidenhead', 'Selby', 'Enfield', 'Whyteleafe', 'Hatfield',
       'Windsor', 'Blackburn', 'Sutton-In-Ashfield', 'Trowbridge',
       'Morpeth', 'Manchester Science Park', 'South East England',
       'Warwick', 'Walton-On-Thames', 'Leighton Buzzard', 'Staines',
       'Gatwick', 'Uxbridge', 'St. Albans', 'Abingdon', 'Plymouth',
       'Hackney', 'Banbury', 'Shipley', 'Twickenham', 'Alton',
       'Bolton Le Sands', 'Broadfield', 'Leamington Spa',
       'Thorpe St. Andrew', 'Canary Wharf', 'Covent Garden',
       'Yorkshire and Humberside', 'Bicester', 'Thame', 'Hastings',
       'Clifton', 'Normanton', 'Horsforth', 'Wokingham', 'Farnham',
       'Woodthorpe', 'St. Neots', 'Weybridge', 'Grimsby', 'Kidderminster',
       'Chatham', 'Wellingborough', 'Camden', 'Greater Manchester',
       'Petersfield', 'Chippenham', 'Scarborough', 'Dover',
       'Great Yarmouth', 'Ash Green', 'Egham', 'Stourbridge',
       'Swadlincote', 'Hounslow', 'Byfleet', 'Cirencester', 'Tonbridge',
       'Littlehampton', 'Cliddesden', 'Hertford', 'Barking', 'Oxfords',
       'Chesham', 'Newark', 'City', 'Castleford', 'Oldbury', 'Wirral',
       'Peterborough', 'Sale', 'Pontefract', 'Buckingham', 'Nuneaton',
       'Highlands', 'Godalming', 'Cobham', 'Barrow-In-Furness',
       'Thatcham', 'Didcot', 'Sutton Coldfield', 'South Brent',
       'Hinckley', 'Handbridge', 'Rochester', 'Shepton Mallet',
       'Little Chesterford', 'St. Helens', 'Tadworth', 'Livingston',
       'West Malling', 'Wrexham', 'Wincanton', 'Hitchin', 'Wisbech',
       'Camden Town', 'Addlestone', 'North Finchley',
       'Newcastle-under-Lyme', 'Aldershot', 'Lewisham', 'Gaydon',
       'Gerrards Cross', 'West Town', 'Calcot', 'Leads', 'Knaresborough',
       'Alfreton', 'Newport Pagnell', 'Lutterworth', 'Worksop',
       'Linlithgow', 'Ferndown', 'St. Ives', 'Coscote',
       'Market Harborough', 'Towcester', 'Chipping Campden',
       'Boldon Colliery', 'Axbridge', 'Rochdale', 'Swanley',
       'Two Mile Ash', 'Craigiehall', 'Southampton International Airport',
       'Sompting', 'Glasgow East Investment Park', 'Dumfries', 'Alcester',
       'Bourne End', 'Thames Ditton', 'Nottinham', 'Glenrothes',
       'Kenilworth'], dtype=object)

In [12]:
#checking value counts
df.Location.value_counts()

UK                      3996
London                  2743
South East London       1433
The City                 558
Leeds                    343
Manchester               334
Surrey                   317
Central London           316
Reading                  300
Birmingham               292
West Midlands            273
East Sheen               222
Bristol                  222
Berkshire                202
Nottingham               196
Oxford                   190
Hampshire                184
Milton Keynes            180
Cambridge                172
Sheffield                160
Kent                     158
Newcastle Upon Tyne      156
Hertfordshire            155
Guildford                147
Aberdeen                 141
Leicester                139
Cheshire                 133
Oxfordshire              127
West Yorkshire           127
Belfast                  125
                        ...
Harlow                     4
Bexley                     4
Twickenham                 4
Melksham                   4
King's Lynn                4
Wisbech                    4
Nottinham                  4
Towcester                  4
Cobham                     4
Linlithgow                 4
Hitchin                    4
Sudbury                    3
Brierley Hill              3
Thames Ditton              3
Workington                 3
Sutton-In-Ashfield         3
Bourne End                 3
Buckingham                 3
Chipping Campden           3
Alcester                   2
Petersfield                2
Lewisham                   2
Redcar                     2
Glenrothes                 2
St. Neots                  2
Pontefract                 2
Dover                      2
Rochdale                   2
Dumfries                   1
Newcastle-under-Lyme       1
Name: Location, Length: 482, dtype: int64

Using regexes we can try and find if there are any special characters in the location data.

In [13]:
#looking for characters other than words, -, ', \s.
a = r".*[^a-zA-Z\s.\-\\']+.*"
[re.search(a, str(x)).group() for x in df.Location.tolist() if re.search(a, str(x))]

[]

In [14]:
#looking for leading or trailing spaces
a = r"(^\s.*)|(.*\s$)"
[re.search(a, str(x)).group() for x in df.Location.tolist() if re.search(a, str(x))]

[]

In [15]:
#looking for double spaces
a = r".*\s\s+.*"
[re.search(a, str(x)).group() for x in df.Location.tolist() if re.search(a, str(x))]

[]

In [16]:
#looking for double capital words (abbreviations)
a = r".*[A-Z]{2,}.*"
{re.search(a, str(x)).group() for x in df.Location.tolist() if re.search(a, str(x))}

{'UK'}

In [17]:
#looking for double capital words (abbreviations)
a = r"U.*"
{re.search(a, str(x)).group() for x in df.Location.tolist() if re.search(a, str(x))}

{'UK', 'Uckfield', 'Upon Thames', 'Upon Tyne', 'Upon-Avon', 'Uxbridge'}

Using regexes we can see that the data:

- does not have trailing, leading or double spaces
- does not have any characters other than
    - words
    - hiphen
    - apostraphe
    - fullstop
- we can also see that only location containing two consecutive Capitals is UK and that there is no United Kingdom in the Location hence the data is consistent with this.


Once we have checked for any special or incorrect characters, we can check for spelling errors in the data.

In [18]:
#checking misspellings


#https://stackoverflow.com/questions/41192424/python-how-to-correct-misspelled-names
def is_similar(first, second, ratio):
    return difflib.SequenceMatcher(None, first, second).ratio() > ratio


first = list(set(df.Location.unique()))
second = list(set(df.Location.unique()))

for f in first:
    result = [s for s in second if is_similar(f,s, 0.9)]
    if len(result) > 1:
        print(f, result)

Oxford ['Oxford', 'Oxfords']
Nottinham ['Nottinham', 'Nottingham']
Nottingham ['Nottinham', 'Nottingham']
Oxfords ['Oxford', 'Oxfords']
Herefordshire ['Herefordshire', 'Hertfordshire']
Surrey ['Surrey', 'Surey']
Hertfordshire ['Herefordshire', 'Hertfordshire']
Surey ['Surrey', 'Surey']

Using difflib we can see that we can identify that there are a few spelling errors in the location. for example:
    - Nottinham
    - Surey
    - Oxfords
    
In the code we used a 90% similarity limit, however if we decrease this limit we can find more spelling errors. Another approach of cleaning and identifying spelling errors is to obtain a list of clean locations and compare our locations with the clean ones. This however is difficult as we cannot be sure that the data is of the UK (however it does look like it) and compare it with UK data only. This way we might end up with incorrect similarities. 

Since we have identified the spelling errors we can go ahead and clean them.

In [19]:
#fixing spelling errors
df.loc[df.Location == 'Nottinham', 'Location'] = 'Nottingham'
df.loc[df.Location == 'Surey', 'Location'] = 'Surrey'
df.loc[df.Location == 'Oxfords', 'Location'] = 'Oxford'

Since we have seen an example of Oxfords, lets see if there are more locations that are incorrectly spelled in plural eg. Londons

In [20]:
#looking for double capital words (abbreviations)
a = r"^.*s$"
{re.search(a, str(x)).group() for x in df.Location.tolist() if re.search(a, str(x))}

{'Barrow-In-Furness',
 'Bognor Regis',
 'Bolton Le Sands',
 'Brent Cross',
 'Bury St. Edmunds',
 'Devizes',
 'Docklands',
 'Dumfries',
 'East Midlands',
 'Gerrards Cross',
 'Glenrothes',
 'Hastings',
 'Henley-On-Thames',
 'Highlands',
 'Inverness',
 'Kingston Upon Thames',
 'Leads',
 'Leeds',
 'Lewes',
 'Milton Keynes',
 'North Shields',
 'Sevenoaks',
 'South Shields',
 'St. Albans',
 'St. Helens',
 'St. Ives',
 'St. Neots',
 'Staines',
 'Stockton-On-Tees',
 'Tunbridge Wells',
 'Wales',
 'Walton-On-Thames',
 'West Midlands',
 'Widnes'}

Looks like that there is another spelling error Leeds instead of Leads. Our difflib code might not have picked it up because it didnt have 90% similarity. Any ways, lets go ahead and correct it aswell.

In [21]:
df.loc[df.Location == 'Leads', 'Location'] = 'Leeds'

Lastly we check if there are any locations that start with small case and not in upper case e.g. london except for London.

In [22]:
#looking for double capital words (abbreviations)
a = r"^[a-z].*$"
{re.search(a, str(x)).group() for x in df.Location.tolist() if re.search(a, str(x))}

set()

Since there are none, we move on.

## Contract Type

Since we already know what format the contract type attribute should be in, lets just check the unique values in it.

In [23]:
#checking values
df.ContractType.unique()

array(['not available', 'full_time', 'part_time'], dtype=object)

In [24]:
#checking counts of vlaues
df.ContractType.value_counts()

not available    19499
full_time         4883
part_time          695
Name: ContractType, dtype: int64

The data values seem to be clean, however they are in an incorrect format. Hence we can go ahead and just change the format of the values.

In [25]:
#fixing and changeing not available to not specified
df.loc[df.ContractType=='not available', 'ContractType'] = 'non-specified'
df.loc[df.ContractType=='full_time', 'ContractType'] = 'full-time'
df.loc[df.ContractType=='part_time', 'ContractType'] = 'part-time'

In [26]:
#checking vlaue counts to confirm
df.ContractType.value_counts()

non-specified    19499
full-time         4883
part-time          695
Name: ContractType, dtype: int64

Now that we have cleaned the format of the data values, we can move on.

## Contract Time

We know the format of the data values in this aswell. Hence we can just go ahead and first see what the values are like

In [27]:
#checking values
df.ContractTime.unique()

array(['permanent', 'not available', 'contract'], dtype=object)

In [28]:
#checking counts of vlaues
df.ContractTime.value_counts()

permanent        16194
not available     6212
contract          2671
Name: ContractTime, dtype: int64

Again the values seem to be clean however the format for not available is incorrect and should be non-specified. Hence lets just go ahead and change that.

In [29]:
#fixing and changeing not available to not specified
df.loc[df.ContractTime=='not available','ContractTime'] = 'non-specified'

In [30]:
#checking counts of vlaues
df.ContractTime.value_counts()

permanent        16194
non-specified     6212
contract          2671
Name: ContractTime, dtype: int64

Now that the format is correct we can move on.

## Company

Cleaning the company would be a bit tricky for the following reasons:
    - Company is the only attribute that have null values in the dataset
    - Company names do not follow a specific format and can have any names. There is no limit on the type of characters they use etc.
    - Different companies can have similar names in different locations. Again, we do not know if the data is only for the UK and hence we cannot make any unreversable changes to the data based on this assumption.

In [31]:
df.Company.value_counts()

UKStaffsearch                              248
CVbrowser                                  170
Randstad                                   169
JOBG8                                      159
Matchtech Group plc.                       150
Chef Results                               137
Penguin Recruitment                        134
Hays                                       115
London4Jobs                                112
COREcruitment International                111
JAM Recruitment Ltd                        109
Computer People                             99
Clear Selection                             92
Monarch Recruitment                         89
Towngate Personnel                          79
Cherryred Recruitment                       69
Senitor Associates                          67
Capita Resourcing                           62
Support Services Group                      62
Modis                                       62
Aspire Data Recruitment                     61
Adecco                                      57
Populus Healthcare                          55
Idex Consulting                             55
Evolution Recruitment Solutions             55
Swiis Healthcare                            54
Bee Recruitment London Ltd                  53
IC Software                                 52
The Placement Group                         52
HCL Permanent                               51
                                          ...
BMT Defence Services Ltd                     1
Co operative Food                            1
HR Office Consultants Ltd                    1
DCV Technologies Limited                     1
Focus Management Consultants Ltd             1
UNIVERSITY OF THE ARTS LONDON                1
Tony Timmins Associates                      1
Moore Teachers Ltd                           1
Advanse   Hays                               1
William Grant & Son                          1
Sykes Co Recruitment                         1
Grantworks Ltd.                              1
Objective Professional Services Limited      1
Technology Recruiting Solutions,Inc.         1
DWC                                          1
Involved Solutions Ltd                       1
Cheflink                                     1
Wells Tobias Recruitment Limited             1
Headway recruitment                          1
Valley Education                             1
IP Cortex Ltd                                1
Optus Consulting Ltd                         1
East Cambridgeshire District Council         1
Avenue Scotland   FALKIRK                    1
Executive Resource Group                     1
Compass Associates                           1
UK Fuels Group                               1
SystemsAccountants                           1
AspireCom                                    1
Red 10                                       1
Name: Company, Length: 4879, dtype: int64

After just eyeballing the data for companies we can see that there is no specific format. Some company names have a few capitalized alphabets while some have integers in them etc.

But, lets look at the format a bit later, first lets try and see if there is some similarity with other attributes when the company is missing. Maybe we can find some sort of similarity.

In [32]:
df[df.Company.isnull()].describe(include=['O'])

,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
count,3835,3835,3835,3835,0.0,3835,3835,3835,3835,3835
unique,3835,414,3,3,0.0,8,713,17,1844,1871
top,Peripatetic / Relief Manager Nursing Homes London,UK,non-specified,non-specified,NaN,Healthcare & Nursing Jobs,35004,careworx.co.uk,20130921T150000,20120708T120000
freq,1,215,2831,2234,NaN,1951,116,1777,8,8

In [33]:
sum(df.Company.isnull())

3835

There seems to be no specific format in terms of the attributes. There are a few ways that the missing companies can be cleaned.
- Deleting the rows which have empty company
- imputing the empty values
    - Since the company is not a numerical value one way to imput is to use the mode impuation method. By grouping the data by location and the job category we can identify the mode the of companies as to which hire the most from that specific location of that category of jobs. This however, even though its doable, does not have any statistical accuracy measure and might not be the best way to impute. 
- Replace the null values with a new value like non-specified like it was in Category Time and Type. 

In this approach we will replace the null values with non-specified as that seems to be the format followed for null values in this dataset.

In [34]:
#filling nulls
df.Company.fillna('non-specified', inplace=True)

The code incase we wanted to fix the values with mode would look something like this. This would group by data by location and then job category type and then impute the company with the mode company.

```python
#fixing company using loc and category
df["Company"].fillna(df.groupby(['Location', 'Category'])["Company"].transform(lambda x: x.mode().iloc[0] if len(x.mode())!=0 else np.NaN), inplace=True)
```

Some company missing values do not have another same category that is available in that location and hence for those imputation would only have been done using the location mode. 

```python
#fixing company only using cateogry
df["Company"].fillna(df.groupby(['Category'])["Company"].transform(lambda x: x.mode().iloc[0] if len(x.mode())!=0 else np.NaN), inplace=True)
```

Once we have decided on how to fix the missing values lets start to have a look athe existing values and see if tehre are any dirty values that we can see.

In [35]:
#looking for dirty values
a = r".*[^a-zA-Z0-9\s]+.*"
set([re.search(a, str(x)).group() for x in df['Company'].tolist() if re.search(a, str(x))])

{'.',
 '1st Choice Computer Appointments.',
 '24/7 Recruitment',
 '@ITS  Limited',
 'AD LIB Holdings Ltd.',
 'AES TECHNICAL & EXECUTIVE CONSULTANTS',
 'AMR   Gr, Manchester & Cheshire',
 'AMR   London, North & Central',
 'ARV Solutions.',
 'Actis Recruitment.',
 'Adapt Resourcing.',
 'Adecco UK & Ireland',
 'Admiral Hotels & Restaurants',
 'Advanse.co.uk',
 'AdvertAnywhere.com',
 'Alexander Lloyd   Compliance & Financial Services',
 'Apex Engineering Solutions.',
 'Appetite4Recruitment   Contract & Facilities Division',
 'Appetite4Recruitment   High End Restaurants, Pubs & Bars',
 'Appetite4Recruitment   High End Restaurants, Pubs Bars',
 'Arnold Clark.',
 'Aspire, Achieve, Advance Limited',
 'Assurance and Testing, Capita',
 'Astbury Marsden & Partners Limited',
 'B&Q',
 'B&Q PLC',
 'BTR Recruitment Ltd.',
 'Badenoch & Clark   Birmingham.',
 'Badenoch & Clark   Bristol',
 'Badenoch & Clark   Edinburgh.',
 'Badenoch & Clark   London ',
 'Badenoch & Clark   Manchester.',
 'Badenoch & Clark   Nottingham.',
 'Baines & Ernst',
 'Be A.co.uk',
 'Berkeley Scott Contract Catering & Facilities Management',
 'Berkeley Scott Pubs, Bars & Restaurants',
 'Berkeley Scott Pubs, Bars Restaurants',
 'BlueTownOnline.co.uk',
 'Bond Search & Selection',
 'Bridge Human Resources Recruitment.',
 'Bristol, Cardiff, Coventry',
 'Bucks & Berks Recruitment PLC',
 'Burnham Resources Ltd.',
 'Buzzrecruit.com',
 'C.K.R. Recruitment Limited',
 'C.O.A.L IT Services Ltd',
 'C.O.A.L IT. Services Ltd',
 'CITY & ISLINGTON COLLEGE',
 'CPL Newry & Belfast',
 'CVL:LDN',
 'Caprice Holdings Ltd, Annabel apos;s Clubs, Urban Caprice',
 "Carluccio's",
 'Carr Lyons.',
 'Catch 22.',
 'Charlton House c/o CH&Co Catering Limited',
 'Childrens Hospice Association Scotland',
 'Church International Ltd.',
 'Client Server Ltd.',
 'Cobalt Recruitment.',
 'Collins King & Associates Limited',
 'Connections Recruitment Ltd.',
 'Consult, Search and Selection',
 'Coupons.com',
 'Cromwell & Clark Ltd',
 'Curtis & Mayfair',
 'D&D London',
 'D.P. Group',
 'D.R.C. Locums Limited',
 'DCL Search & Selection',
 'DCL Search & Selection.',
 'DEPARTMENT FOR ENVIRONMENT FOOD & RURAL',
 'DGH Recruitment Ltd.',
 'Darwin Recruitment.',
 'Dawson & Walsh',
 'DawsonHill Limited T/A BIAARS',
 'De Vere Hotels & Village Urban Resorts',
 'Debt & Credit Solutions Ltd',
 'Deerfoot I.T. Resources Ltd',
 'Delta Consultants.',
 'EP Resourcing limited t/a Education Professionals',
 'EasyWebRecruitment.com',
 'Easyvacancy.co.uk',
 'Edwards & Pearce',
 'Elevate Recruitment & Training Consultants',
 'Elevation Engineering & Manufacturing',
 'Epsilium Ltd.',
 'Extech 2000 Limited.',
 "Extra Technology 'Human Capital Solutions' Ltd",
 'Fasttrack Management Serv.  Ltd',
 'Fawkes & Reece',
 'Fawkes & Reece Admin',
 'Fawkes & Reece Ltd',
 'Fawkes & Reece social care',
 'Fieri Search & Selection',
 'Frazer Jones.',
 "Fuller's Managed Estate",
 'G2 Recruitment Solutions Ltd.',
 "GREENHALGH'S CRAFT BAKERY LIMITED",
 'GUYS & ST THOMAS NHS TRUST',
 'Gemploy.com',
 'Gemploy.com Ltd',
 'Gerrell & Hard',
 'Global Technology Solutions Ltd.',
 'Go Partnership.',
 'Gold Group Ltd.',
 'Grantworks Ltd.',
 'Gray & Associates Recruitment Services',
 'Green Stone Search & Selection',
 'H&R Talent',
 'HPR Consultancy Ltd t/a HPRtalent',
 'Harbour & Jones',
 'Harnham Search & Selection',
 'Headstart Employment.',
 'Health & Social Care Jobs Ltd',
 'HelpMeGo.To Ltd',
 'Hilton UK & Ireland',
 'Holden Jones Ltd.',
 'Holland & Tisdall.',
 'Hotfoot Resourcing.',
 'Hudson Banking & Finance',
 'Hunt4Staff.com',
 'Hunts Paper & Pixels',
 'I Expatriate.com',
 'I.T. Skillfinder',
 'IKUT & Associates UK Ltd',
 'IT SEARCH & SELECT',
 'Ideal Personnel & Recruitment Solutions Ltd',
 'Indigo21recruitment.com',
 'Intech Recruitment.',
 'J P Scarlet & Associates',
 'JAM Recruitment Ltd.',
 "Jamie's Italian",
 'Jane Lewis Health & Social Care',
 'Jobs@Pertemps   London City',
 'Jobs@Pertemps   Newcastle Commercial',
 'Jobs@Pertemps   Swindon commercial',
 'Jobs@Pertemps   Wrexham Commercial',
 'Jonathan Lee Engineering & Manufacturing',
 'K.B.C. Associates Limited',
 'Kate & Co Finance',
 'Kinetic Search & Selection',
 'Kinetic Skilled & Trades',
 'LJB & Co',
 'Language Recruitment Services.',
 'Lawrence Harvey Search & Selection',
 'Long & Marshall',
 'M & S Bank',
 'M&S Bank',
 'MAPP Ltd   IT & Business Management Recruitment Specialists',
 'MAPP Ltd.',
 'MGT Training.com',
 'MNM Associates Ltd.',
 'MPower+',
 'MW Appointments.',
 'Macdonald & Company',
 'Macildowie Associates.',
 'Macmillan Davies Hodes.',
 'Market Place Solutions Ltd.',
 'Matchtech Group plc.',
 'Millennium & Copthorne Hotels plc ',
 'Mobilus Limited.',
 'Monarch Recruitment Ltd.',
 'Morgan Ryder.',
 'Morson International.',
 'Mortimer Bell International Ltd.',
 'Mortimer Spinks Ltd T/A Harvey Nash',
 'Motorecruit.co.uk',
 'Murray McIntosh Recruitment Consult. Ltd.',
 'NFP Grp Ltd T/A First Point IT',
 'NHS Greater Glasgow & Clyde',
 "Nando's",
 'Net Recruit.co.uk Ltd',
 'Net Recruit.co.uk ltd',
 'Networx.',
 'Next Move I.T. Limited',
 'Nuffield Health   StaffNurse.com',
 "O'Neil Consultancy",
 'OCC Computer Personnel/RI',
 'OXFORD & CHERWELL COLLEGE',
 'Oho Group Ltd.',
 'Omni Resource Management Solutions.',
 'Optima Nursing & Care Services Ltd',
 'P&C Recruitment Ltd',
 'PART & COMPANY Ltd',
 'PDA Search & Selection',
 'PMA Recruitment Ltd.',
 'PPR Solutions t/a ByBox Tech Resource',
 'PSD Technology Contracts Ltd.',
 'PTHR International Restaurants & Bars',
 'Paramount Recruitment Med Comms, PR & Advertising',
 'Peaks & Dales Recruitment',
 'People Source Consulting.',
 'Petroplan Ltd.',
 'Phoenix Healthcare & Recruitment',
 'Platinum & Co',
 'Potensis.',
 'Power Placements.',
 'Project Resource   Thames Valley & South West England',
 'Quality Data Management, Inc.',
 'RE & M  Ltd',
 'RE&M',
 'REGAN & DEAN',
 'RHL.',
 'RIG Veterinary Ltd T/A RIG Animal Health Recruit',
 'Radisson Blu Edwardian, London',
 'Randstad Construction, Property Engineering',
 'Randstad Financial & Professional',
 'Recruit.UK.Net',
 'Recruitment Revolution.Com Limited',
 'RecruitmentConsultant.com',
 'RecruitmentRevolution.com',
 'RecruitmentRevolution.com Limited',
 'Recruitmentconsultant.com',
 'Reed Hospitality & Leisure',
 'SCJ Consulting ltd.',
 'SOCIETY OF CHIROPODISTS & PODIATRISTS',
 'STR Ltd.',
 'Sand Resources. A division of InterQuest Group  Ltd',
 'Sanderson Government & Defence',
 'SceneOne Ltd.',
 'Section:Media Ltd',
 'Seismic Ltd.',
 'Silver Stone Search & Selection',
 'Sizzling Pub Co.',
 'SkyParlour PR + Communications',
 'SolTech, Inc.',
 "St Andrew's Healthcare",
 'St.Marys International  Ltd',
 'Staffworx Ltd, UK',
 'Stott & May',
 'Summit Computer Recruitment Ltd t/a itecopeople',
 'Sykes & Co Recruitment Limited',
 'Synergi Search & Selection',
 'TARGETJOBS.CO.UK',
 "TGI Friday's",
 'THE WORKS SEARCH & SELECTION LLP',
 'THESMARTLIST.co.uk',
 'TLP Consultancy Ltd.',
 'TMP & Associates Ltd',
 'TQR Search & Selection ',
 'TUI UK & Ireland',
 'Technology Recruiting Solutions,Inc.',
 'Towngate Personnel.',
 'ULO Ltd T/A Capital Strategy Associates',
 'URECRUIT.',
 'Wade Macdonald Associates.',
 'West One Hotel & Catering Consultancy Ltd',
 'William Grant & Son',
 'Xpress Recruitment.',
 'Xquisite Recruitment.',
 'Yo! Sushi',
 'easyvacancy.co.uk',
 'ecomrecruitment.com',
 'handmade burger Co.',
 'hotrocket.net',
 'hunt4staff.com',
 'id:recruitment',
 'in pact.co.uk',
 'non-specified',
 'senior broker.com',
 'www.dexternicholas.com'}

We can see that there are values that have:
- Websites
- double spaces or tabs
- wierd symbols such as @, !, /
- dirty values such as only a '.' as a value
- different foramts for writing Ltd e.g. Ltd, Limited, Ltd., ltd., LTD etc. 

This freedom in terms of the company values seems to make cleaning this very difficult. Hence we cannot exlclude special characters such as @ from the values are they might be correct names. 

So lets first try to see what we can try to find in terms of inconsistent formating. First lets see the companies that have a fullstop in the company value.

In [36]:
#looking for dirty values
a = r".*\..*"
set([re.search(a, str(x)).group() for x in df['Company'].tolist() if re.search(a, str(x))])

{'.',
 '1st Choice Computer Appointments.',
 'AD LIB Holdings Ltd.',
 'ARV Solutions.',
 'Actis Recruitment.',
 'Adapt Resourcing.',
 'Advanse.co.uk',
 'AdvertAnywhere.com',
 'Apex Engineering Solutions.',
 'Arnold Clark.',
 'BTR Recruitment Ltd.',
 'Badenoch & Clark   Birmingham.',
 'Badenoch & Clark   Edinburgh.',
 'Badenoch & Clark   Manchester.',
 'Badenoch & Clark   Nottingham.',
 'Be A.co.uk',
 'BlueTownOnline.co.uk',
 'Bridge Human Resources Recruitment.',
 'Burnham Resources Ltd.',
 'Buzzrecruit.com',
 'C.K.R. Recruitment Limited',
 'C.O.A.L IT Services Ltd',
 'C.O.A.L IT. Services Ltd',
 'Carr Lyons.',
 'Catch 22.',
 'Church International Ltd.',
 'Client Server Ltd.',
 'Cobalt Recruitment.',
 'Connections Recruitment Ltd.',
 'Coupons.com',
 'D.P. Group',
 'D.R.C. Locums Limited',
 'DCL Search & Selection.',
 'DGH Recruitment Ltd.',
 'Darwin Recruitment.',
 'Deerfoot I.T. Resources Ltd',
 'Delta Consultants.',
 'EasyWebRecruitment.com',
 'Easyvacancy.co.uk',
 'Epsilium Ltd.',
 'Extech 2000 Limited.',
 'Fasttrack Management Serv.  Ltd',
 'Frazer Jones.',
 'G2 Recruitment Solutions Ltd.',
 'Gemploy.com',
 'Gemploy.com Ltd',
 'Global Technology Solutions Ltd.',
 'Go Partnership.',
 'Gold Group Ltd.',
 'Grantworks Ltd.',
 'Headstart Employment.',
 'HelpMeGo.To Ltd',
 'Holden Jones Ltd.',
 'Holland & Tisdall.',
 'Hotfoot Resourcing.',
 'Hunt4Staff.com',
 'I Expatriate.com',
 'I.T. Skillfinder',
 'Indigo21recruitment.com',
 'Intech Recruitment.',
 'JAM Recruitment Ltd.',
 'K.B.C. Associates Limited',
 'Language Recruitment Services.',
 'MAPP Ltd.',
 'MGT Training.com',
 'MNM Associates Ltd.',
 'MW Appointments.',
 'Macildowie Associates.',
 'Macmillan Davies Hodes.',
 'Market Place Solutions Ltd.',
 'Matchtech Group plc.',
 'Mobilus Limited.',
 'Monarch Recruitment Ltd.',
 'Morgan Ryder.',
 'Morson International.',
 'Mortimer Bell International Ltd.',
 'Motorecruit.co.uk',
 'Murray McIntosh Recruitment Consult. Ltd.',
 'Net Recruit.co.uk Ltd',
 'Net Recruit.co.uk ltd',
 'Networx.',
 'Next Move I.T. Limited',
 'Nuffield Health   StaffNurse.com',
 'Oho Group Ltd.',
 'Omni Resource Management Solutions.',
 'PMA Recruitment Ltd.',
 'PSD Technology Contracts Ltd.',
 'People Source Consulting.',
 'Petroplan Ltd.',
 'Potensis.',
 'Power Placements.',
 'Quality Data Management, Inc.',
 'RHL.',
 'Recruit.UK.Net',
 'Recruitment Revolution.Com Limited',
 'RecruitmentConsultant.com',
 'RecruitmentRevolution.com',
 'RecruitmentRevolution.com Limited',
 'Recruitmentconsultant.com',
 'SCJ Consulting ltd.',
 'STR Ltd.',
 'Sand Resources. A division of InterQuest Group  Ltd',
 'SceneOne Ltd.',
 'Seismic Ltd.',
 'Sizzling Pub Co.',
 'SolTech, Inc.',
 'St.Marys International  Ltd',
 'TARGETJOBS.CO.UK',
 'THESMARTLIST.co.uk',
 'TLP Consultancy Ltd.',
 'Technology Recruiting Solutions,Inc.',
 'Towngate Personnel.',
 'URECRUIT.',
 'Wade Macdonald Associates.',
 'Xpress Recruitment.',
 'Xquisite Recruitment.',
 'easyvacancy.co.uk',
 'ecomrecruitment.com',
 'handmade burger Co.',
 'hotrocket.net',
 'hunt4staff.com',
 'in pact.co.uk',
 'senior broker.com',
 'www.dexternicholas.com'}

In [37]:
#looking for trailing spaces
df.loc[df.Company.str.contains('^.* $', na=False,regex=True), 'Company']

1342                    Ashton Consulting
1412                                  DMS
1457               Support Services Group
1483               Support Services Group
1578               Support Services Group
1579               Support Services Group
1688               Support Services Group
1732          OCC Computer Personnel  Ltd
1820          OCC Computer Personnel  Ltd
1883          OCC Computer Personnel  Ltd
1900          OCC Computer Personnel  Ltd
1987          OCC Computer Personnel  Ltd
2011               Support Services Group
2012               Support Services Group
2035               Stafffinders Edinburgh
2047          OCC Computer Personnel  Ltd
2048          OCC Computer Personnel  Ltd
2113          OCC Computer Personnel  Ltd
2207               Support Services Group
2246          OCC Computer Personnel  Ltd
2247          OCC Computer Personnel  Ltd
2268          OCC Computer Personnel  Ltd
2291               Support Services Group
2292               Support Services Group
2293               Support Services Group
2312          OCC Computer Personnel  Ltd
2315               Support Services Group
2324               Support Services Group
2334          OCC Computer Personnel  Ltd
2349              ProTech Recruitment Ltd
                       ...
24036           Badenoch & Clark   London
24046      Advanced Resource Managers Ltd
24104           Badenoch & Clark   London
24107                RENTOKIL INITIAL PLC
24122           Badenoch & Clark   London
24125           Badenoch & Clark   London
24165           Badenoch & Clark   London
24169           Badenoch & Clark   London
24620                Stafffinders Paisley
24621              Stafffinders Edinburgh
24638                   Redline Group Ltd
24641                   Redline Group Ltd
24646    Syntony Search and Selection Ltd
24647    Syntony Search and Selection Ltd
24762                   Redline Group Ltd
24811    Syntony Search and Selection Ltd
24888                  Redwood Starke Ltd
24889                  Redwood Starke Ltd
24909    Syntony Search and Selection Ltd
24911    Syntony Search and Selection Ltd
24916              Support Services Group
24925                  Redwood Starke Ltd
24939                                 DMS
24989              Support Services Group
24991                   Redline Group Ltd
24993              Support Services Group
24994              Support Services Group
25021    Syntony Search and Selection Ltd
25068              Support Services Group
25069              Support Services Group
Name: Company, Length: 246, dtype: object

In [38]:
#looking for double or more spaces
a = r".*\s{2,}.*"
set([re.search(a, str(x)).group() for x in df['Company'].tolist() if re.search(a, str(x))])

{'@ITS  Limited',
 'AMR   East Midlands',
 'AMR   Gr, Manchester & Cheshire',
 'AMR   Home Counties North',
 'AMR   London, North & Central',
 'AMR   South West England',
 'AMR   West Midlands',
 'AMR   West of England',
 'Advanse   Hays',
 'Aegis Media LTD  ',
 'Alexander Lloyd   Accountancy',
 'Alexander Lloyd   Compliance & Financial Services',
 'Angela Mortimer   Main Account',
 'Antal International Limited   Warrington',
 'Appetite4Recruitment   Contract & Facilities Division',
 'Appetite4Recruitment   Contract Facilities Division',
 'Appetite4Recruitment   High End Restaurants, Pubs & Bars',
 'Appetite4Recruitment   High End Restaurants, Pubs Bars',
 'Ashton Consulting  Limited',
 'Avenue Scotland   FALKIRK',
 'Aximis  Limited',
 'BEG  Ltd',
 'BMS   Engineering',
 'BMS   Graduate',
 'BMS   Marketing',
 'BROOK STREET BUREAU   Baker Street',
 'BROOK STREET BUREAU   Cardiff Care',
 'BROOK STREET BUREAU   Derby',
 'BROOK STREET BUREAU   Edgware',
 'BROOK STREET BUREAU   Fenchurch Street',
 'BROOK STREET BUREAU   Guildford',
 'BROOK STREET BUREAU   Hammersmith Care',
 'BROOK STREET BUREAU   Holborn',
 'BROOK STREET BUREAU   Leeds Care',
 'BROOK STREET BUREAU   Manchester',
 'BROOK STREET BUREAU   Northampton Care',
 'BROOK STREET BUREAU   Peterborough',
 'BROOK STREET BUREAU   Portsmouth',
 'BROOK STREET BUREAU   Reading',
 'BROOK STREET BUREAU   St Albans',
 'BROOK STREET BUREAU   Strand',
 'BROOK STREET BUREAU   Tunbridge Wells',
 'BROOK STREET BUREAU   Walsall',
 'Badenoch & Clark   Birmingham.',
 'Badenoch & Clark   Bristol',
 'Badenoch & Clark   Edinburgh.',
 'Badenoch & Clark   London ',
 'Badenoch & Clark   Manchester.',
 'Badenoch & Clark   Nottingham.',
 'Blue Arrow   Guildford',
 'Blue Arrow   Southampton',
 'Blue Arrow Catering   Edgware',
 'Blue Arrow Catering   Guildford',
 'CORE Education and Consulting Solutions  Ltd',
 'CPS Group  Ltd',
 'Capita Resourcing   IT Resourcing',
 'Carreras Lathane Associates   CLA',
 'Cat Pumps  Limited',
 'Central Employment Agency  Ltd',
 'Classic Consulting  Ltd',
 'Cobalt Consulting  Limited',
 'Computer People  Limited',
 'Cooper Lomaz   Bury St Edmunds',
 'Cox  Little Company',
 'Crowne Plaza   Marlow',
 'Deploy  Limited',
 'Digital Personnel  LTD',
 'Digital Personnel  Ltd',
 'Douglas Scott   Professional Support',
 'EMBS  People Transfer',
 'ERS  Ltd',
 'Eclipse  Limited',
 'Edustaff   Birmingham',
 'Edustaff   Bristol',
 'Edustaff   Manchester',
 'Edustaff  Ltd',
 'Euro London Appointments   London',
 'FUJITSU   LORIEN PLC',
 'FastTrack Management Services  Ltd',
 'Fasttrack Management Serv.  Ltd',
 'First 4 Personnel  Limited',
 'Forces Recruitment Services  Ltd',
 'Fresh Connect  Limited',
 'GIM   Food ',
 'Genesis Associates  Limited',
 'Get Recruited  Ltd',
 'Gi Group   Doncaster',
 'Grafton Recruitment   NI',
 'Gravitas Recruitment  Ltd',
 'Griffin Associates  Ltd',
 'Hamlin Knight   Uxbridge',
 'Harp Associates  Ltd',
 'Harris  Global',
 'Harvey Nash Consulting  Limited',
 'Hays   East of England',
 'Hays   Home Counties',
 'Hays   London City',
 'Hays   North West',
 'Hays   Scotland',
 'Hays   South Coast',
 'Hays Resource Management   HRM Choice',
 'Hays Specialist Recruitment   Further Education',
 'Hays Specialist Recruitment Ltd   Hays En',
 'Headline   Cambridge',
 'Headline   Reading',
 'High Finance  Limited',
 'Huntress Group   Technology Perms',
 'IRON MOUNTAIN  LTD',
 'IT Commercial   Home Counties',
 'Intec  Limited',
 'Intec  Ltd',
 'Interaction   Bradford',
 'Interaction   Coventry',
 'Interaction   Crawley',
 'Interaction   Leicester',
 'Interaction   Maidstone',
 'Interaction   Romford',
 'JAM Recruitment   Internal Recruitment',
 'Jark Healthcare  JOBS',
 'Jobs@Pertemps   London City',
 'Jobs@Pertemps   Newcastle Commercial',
 'Jobs@Pertemps   Swindon commercial',
 'Jobs@Pertemps   Wrexham Commercial',
 'Kelway  Ltd',
 'Lime People  Limited',
 'Logicom Computer Services  Ltd',
 'London   Public Sector',
 'Longbridge Recruitment  Limited',
 'MAPP Ltd   IT & Business Management Recruitment Specialists',
 'MBDA  Ltd',
 'MONTPELIERS  LIMITED',
 'MPI Aviation  Ltd',
 'Manpower   North West',
 'Matchtech   IT Division',
 'McGinley  Ltd',
 'Michael Page   Engineering Manufacture',
 'Mobile Technical Staff   Technical Engineering',
 'Modern Packaging  Ltd',
 'NHS Lanarkshire   Medical Staffing',
 'NHS National Services Scotland   Information Services',
 'NHS National Services Scotland   National Services Division',
 'Nestle   More to live',
 'New Recruit  Ltd',
 'Nuffield Health   StaffNurse.com',
 'OCC Computer Personnel  Ltd ',
 'OCS Group  Ltd',
 'OG   Team Europe',
 'Oscar Associates  Limited',
 'Oscar Associates  Ltd',
 'PAID   Part of Credit Protection Association',
 'PTS Resourcing  Ltd',
 'Parkside Recruitment   Staines',
 'Parkside Recruitment   Uxbridge',
 'Pegasus   Resource',
 'Personal Storage  LLP',
 'Personnel IT  Ltd',
 'Pertemps  Ltd',
 'Phoenix Resourcing Services   PRS',
 'Premiere People   Coventry',
 'Premiere People   Preston',
 'Premiere People   Rugby',
 'Premiere People   Worcester',
 'Proactive   Chester',
 'Project Resource   London and South East England',
 'Project Resource   Thames Valley & South West England',
 'QMH UK Limited   Best Western',
 'QMH UK Limited   Holiday Inn',
 'RE & M  Ltd',
 'Recruitment Solutions  Ltd',
 'Red Recruitment   Wales',
 'Red Star Associates   Hospitality Recruitment',
 'Reed Engineering   Manchester ',
 'Reed Sales   Birmingham ',
 'Reed Tech   Manchester Perms ',
 'Reed Technology   Docklands Gov ',
 'Reed Technology   Guildford Contracts',
 'Reed Technology   London Contracts',
 'Reed Technology   London Permanent',
 'Reed Technology   Manchester Permanents',
 'Rekroot  Ltd',
 'Resource Solutions Group   Royal London',
 'Resourcing Partnership  Ltd',
 'Revolution  Bars',
 'Robert Half   Birmingham',
 'Robert Half   Bristol',
 'Robert Half   Edinburgh',
 'Robert Half   Guildford',
 'Robert Half   Hammersmith',
 'Robert Half   Leicester',
 'Robert Half   London City',
 'Robert Half   London West End',
 'Rocfish   NDS',
 'SER  Ltd',
 'SMRS LTD  ',
 'SPS  Limited',
 'Sales Recruitment Services   SRS UK Ltd',
 'Sand Resources. A division of InterQuest Group  Ltd',
 'Searchability  Ltd',
 'Serata Search  Ltd',
 'Simple Recruitment  Ltd',
 'Skillbase Solutions   Clearwater People Solutions',
 'SkyBlue Solutions   Birmingham',
 'SkyBlue Solutions   Glasgow',
 'SkyBlue Solutions   Leeds',
 'SkyBlue Solutions   Southampton',
 'Spectrum IT Recruitment  Ltd',
 'St.Marys International  Ltd',
 'TMP  Ltd  ',
 'TRS Consulting  Ltd',
 'Teaching Personnel Ltd   London CR',
 'Team Recruitment  Ltd',
 'The Priory Group   Thornford Park',
 'The Student Support Centre   Cheshire',
 'Thirty Three LLP  ',
 'Thomas Telford  Ltd',
 'Thornhvac   HVAC Recruiters',
 'UNKNOWN   auto added by vacany import',
 'Vanilla Recruitment  Ltd',
 'Vantage Consulting  Ltd',
 'Wavelength   Public Practice Recruitment',
 'Wheale Thomas Hodgins   Leeds',
 'Win Technologies  Ltd',
 'XARA COMPUTERS  LIMITED',
 'XL Recruitment  Ltd',
 'Yellow Hat  Limited',
 'Yellow Hat  Ltd'}

We can see a few things:
    - There are different formats of websites in these .com, .co.uk, www. etc.
    - double or more spaces
    - full stops are the company titles 
    - fulls stops in some abbreviations and not in others eg. I.T. or IT.
    - company with value '.'
    - Tabs
    - There are company's that have location in them aswell otherwise they are the same company

In terms of formating we can:
- remove the pre and post website pars such as www., .com etc. (this might cause some issues as some company might actualy have a .com in it. 
- reformat the limited and bring them into a consistent format 
- try to fix certain abbreviations that seemed incorect such as t/a to T/A. 
- remove the full stops from company entirely (this might cause some issues as some company names might have fullstops in them)
- remove the location/branch part of the company but this depends on the what the client wants to keep. If they consider the company to be different if the branch of it is different then removing the location would create an issue. Hence, since we dont know exactly what we want, rather than ruining the data and removing information lets keep it. 
- remove double or more whitespaces by replacing them with a single whitespace. 
- remove trailing and leading white spaces if there are any. 

Another thing that can be done is to convert all the company names to upper case. This way the issue of some company names being upper case and some in lower case will be fixed. However, since a company name might actually be registered in a capitalized form. This kind of changes require further aproval from company stakeholders or the clients hence without approval these changes cannot be made.

In [39]:
#dictionary for cleaning
Comp_dic_clean = {'\.com': '', '\.net':'', '\.uk\.net':'', '\.co\.uk':'', 'LTD':'Ltd', ' Limited':' Ltd', 'www\.':'', 't/a':'T/A', '\.':'', '\s{2,}':' '}

#loop for cleaning
for key, val in Comp_dic_clean.items():
    df.Company = df.Company.str.replace(key, val, case=False)
    
#remove white spaces from right and left
df.Company = df.Company.str.strip()

After cleaning the required, lets again try to check what special characters are included in the compnay name values. But first since one company name was '.' and we removed all fullstops lets convert that company name to non-specified.

In [40]:
df.loc[df.Company == '', 'Company'] = 'non-specified'

In [41]:
#looking for dirty values
a = r".*([^a-zA-Z0-9\s.])+.*"
set([re.search(a, str(x)).group(1) for x in df['Company'].tolist() if re.search(a, str(x))])

{'!', '&', "'", '+', ',', '-', '/', ':', '@', ''}

In [42]:
#looking for trailing spaces
df.loc[df.Company.str.contains(r"[!&'+,/:@]", na=False,regex=True), 'Company']

1414                                    IT SEARCH & SELECT
1415                                    IT SEARCH & SELECT
1757                            Sykes & Co Recruitment Ltd
1767                         Collins King & Associates Ltd
1857                                   P&C Recruitment Ltd
1879                        Green Stone Search & Selection
1998                             OCC Computer Personnel/RI
1999                             OCC Computer Personnel/RI
2000                             OCC Computer Personnel/RI
2002                             OCC Computer Personnel/RI
2091                                   P&C Recruitment Ltd
2165                             OCC Computer Personnel/RI
2173                                   P&C Recruitment Ltd
2363                               Bond Search & Selection
2365                             OCC Computer Personnel/RI
2532                             OCC Computer Personnel/RI
2533                             OCC Computer Personnel/RI
2534                             OCC Computer Personnel/RI
2535                             OCC Computer Personnel/RI
2546                De Vere Hotels & Village Urban Resorts
2594                             OCC Computer Personnel/RI
2595                             OCC Computer Personnel/RI
2598                             OCC Computer Personnel/RI
2599                             OCC Computer Personnel/RI
2648                 AES TECHNICAL & EXECUTIVE CONSULTANTS
2649                 AES TECHNICAL & EXECUTIVE CONSULTANTS
2650                             OCC Computer Personnel/RI
2651                             OCC Computer Personnel/RI
2683                                    IT SEARCH & SELECT
2741                         Consult, Search and Selection
                               ...
24036                              Badenoch & Clark London
24066                                       Gerrell & Hard
24096                        GREENHALGH'S CRAFT BAKERY Ltd
24104                              Badenoch & Clark London
24122                              Badenoch & Clark London
24125                              Badenoch & Clark London
24145                            Jobs@Pertemps London City
24165                              Badenoch & Clark London
24169                              Badenoch & Clark London
24187                    Randstad Financial & Professional
24206                                       Dawson & Walsh
24218                          Badenoch & Clark Manchester
24228                AES TECHNICAL & EXECUTIVE CONSULTANTS
24263                             Fieri Search & Selection
24314    Appetite4Recruitment High End Restaurants, Pub...
24352                Berkeley Scott Pubs, Bars Restaurants
24360    Appetite4Recruitment High End Restaurants, Pub...
24371    Appetite4Recruitment High End Restaurants, Pub...
24389                   Optima Nursing & Care Services Ltd
24401                   Optima Nursing & Care Services Ltd
24413                               St Andrew's Healthcare
24585                             IKUT & Associates UK Ltd
24657                                       Fawkes & Reece
24699                    Randstad Financial & Professional
24755                             J P Scarlet & Associates
24756                             J P Scarlet & Associates
24840                                  P&C Recruitment Ltd
24878                                           RE & M Ltd
24957                                   IT SEARCH & SELECT
25066                                           RE & M Ltd
Name: Company, Length: 536, dtype: object

In [43]:
df.loc[df.Company.str.contains('-', na=False,regex=True), 'Company'].unique()

array(['non-specified'], dtype=object)

In [44]:
df.loc[df.Company.str.contains(',', na=False,regex=True), 'Company'].unique()

array(['Consult, Search and Selection', 'Quality Data Management, Inc',
       'Randstad Construction, Property Engineering',
       'Berkeley Scott Pubs, Bars & Restaurants',
       'Assurance and Testing, Capita',
       'Technology Recruiting Solutions,Inc',
       'Appetite4Recruitment High End Restaurants, Pubs & Bars',
       'Berkeley Scott Pubs, Bars Restaurants',
       'Paramount Recruitment Med Comms, PR & Advertising',
       'AMR Gr, Manchester & Cheshire', 'Radisson Blu Edwardian, London',
       'Caprice Holdings Ltd, Annabel apos;s Clubs, Urban Caprice',
       'Appetite4Recruitment High End Restaurants, Pubs Bars',
       'Aspire, Achieve, Advance Ltd', 'AMR London, North & Central',
       'Staffworx Ltd, UK', 'Bristol, Cardiff, Coventry', 'SolTech, Inc'],
      dtype=object)

In [45]:
df.loc[df.Company.str.contains(':', na=False,regex=True), 'Company']

16229       id:recruitment
16230       id:recruitment
17456       id:recruitment
17633       id:recruitment
18691       id:recruitment
21932              CVL:LDN
22865    Section:Media Ltd
22869    Section:Media Ltd
Name: Company, dtype: object

After doing the changes that we could do in the company lets move forward.

## Category

For category lets first try to check the value counts for the categories.

In [46]:
df.Category.value_counts()

IT Jobs                             7085
Healthcare & Nursing Jobs           4334
Engineering Jobs                    3458
Accounting & Finance Jobs           3099
Sales Jobs                          2609
Hospitality & Catering Jobs         2124
Teaching Jobs                       1378
PR, Advertising & Marketing Jobs     990
Name: Category, dtype: int64

The Cateogry column seems to be clean, Hence we move on.

## Salary per annum

First lets try to find any values that do not contain digits or decimals.

In [47]:
df['Salary per annum'].describe()

count     25077
unique     1589
top       35004
freq       1011
Name: Salary per annum, dtype: object

In [48]:
#looking for dirty values
a = r".*[^\d.]+.*"
[re.search(a, str(x)).group() for x in df['Salary per annum'].tolist() if re.search(a, str(x))]

['30K',
 '38K',
 '14K',
 '24K',
 '20896.2 - 23095.8',
 '23K',
 '16153.8 - 17854.2',
 '25K',
 '23712.0 - 26208.0',
 '16K',
 '16416.0 - 18144.0',
 '33K',
 '22321.2 - 24670.8',
 '17578.8 - 19429.2',
 '45K',
 '85K',
 '30871.199999999997 - 34120.8',
 '19K',
 '35146.2 - 38845.8',
 '21853.8 - 24154.2',
 '17100.0 - 18900.0',
 '22K',
 '24646.8 - 27241.2',
 '20896.2 - 23095.8',
 '17100.0 - 18900.0',
 '36480.0 - 40320.0',
 '33253.799999999996 - 36754.200000000004',
 '49020.0 - 54180.0',
 '27553.8 - 30454.2',
 '26K',
 '23746.199999999997 - 26245.800000000003',
 '19003.8 - 21004.2',
 '52246.2 - 57745.8',
 '32K',
 '34K',
 '24K',
 '47503.799999999996 - 52504.200000000004',
 '52K',
 '78K',
 '32K',
 '19K',
 '23K',
 '30403.8 - 33604.200000000004',
 '52K',
 '29184.0 - 32256.0',
 '41325.0 - 45675.0',
 '28500.0 - 31500.0',
 '26K',
 '55K',
 '35K',
 '27553.8 - 30454.2',
 '61753.799999999996 - 68254.2',
 '32K',
 '28K',
 '40846.2 - 45145.8',
 '40378.799999999996 - 44629.200000000004',
 '14614.8 - 16153.2',
 '24K',
 '13303.8 - 14704.2',
 '26K',
 '28500.0 - 31500.0',
 '24703.8 - 27304.2',
 '80K',
 '28500.0 - 31500.0',
 '24K',
 '38K',
 '40K',
 '23K',
 '37996.2 - 41995.8',
 '29K',
 '19K',
 '26128.8 - 28879.2',
 '39K',
 '31K',
 '15K',
 '15891.599999999999 - 17564.4',
 '25171.199999999997 - 27820.800000000003',
 '47K',
 '47K',
 '60K',
 '47K',
 '31K',
 '16621.2 - 18370.8',
 '37996.2 - 41995.8',
 '25K',
 '38K',
 '44175.0 - 48825.0',
 '33253.799999999996 - 36754.200000000004',
 '13303.8 - 14704.2',
 '23746.199999999997 - 26245.800000000003',
 '30K',
 '42750.0 - 47250.0',
 '50K',
 '45K',
 '42750.0 - 47250.0',
 '32K',
 '13497.599999999999 - 14918.400000000001',
 '21819.6 - 24116.4',
 '32K',
 '14250.0 - 15750.0',
 '30K',
 '29446.199999999997 - 32545.800000000003',
 '15196.199999999999 - 16795.8',
 '22321.2 - 24670.8',
 '33253.799999999996 - 36754.200000000004',
 '40K',
 '48336.0 - 53424.0',
 '21375.0 - 23625.0',
 '27816.0 - 30744.0',
 '21K',
 '66496.2 - 73495.8',
 '45K',
 '32K',
 '30871.199999999997 - 34120.8',
 '49875.0 - 55125.0',
 '37996.2 - 41995.8',
 '33721.2 - 37270.8',
 '50K',
 '21853.8 - 24154.2',
 '32K',
 '49875.0 - 55125.0',
 '38K',
 '71K',
 '40K',
 '27K',
 '42750.0 - 47250.0',
 '42K',
 '85500.0 - 94500.0',
 '58K',
 '68947.2 - 76204.8',
 '21K',
 '90K',
 '65K',
 '21K',
 '30871.199999999997 - 34120.8',
 '26596.199999999997 - 29395.800000000003',
 '16K',
 '23K',
 '41K',
 '19243.2 - 21268.8',
 '40378.799999999996 - 44629.200000000004',
 '28021.199999999997 - 30970.800000000003',
 '23746.199999999997 - 26245.800000000003',
 '26128.8 - 28879.2',
 '18K',
 '24703.8 - 27304.2',
 '22K',
 '20K',
 '57000.0 - 63000.0',
 '37996.2 - 41995.8',
 '28K',
 '15196.199999999999 - 16795.8',
 '35K',
 '35625.0 - 39375.0',
 '52246.2 - 57745.8',
 '55K',
 '50K',
 '38K',
 '19K',
 '45K',
 '37996.2 - 41995.8',
 '27553.8 - 30454.2',
 '52K',
 '20K',
 '18525.0 - 20475.0',
 '41040.0 - 45360.0',
 '30871.199999999997 - 34120.8',
 '30780.0 - 34020.0',
 '30780.0 - 34020.0',
 '27K',
 '54K',
 '57000.0 - 63000.0',
 '25K',
 '35K',
 '35K',
 '33253.799999999996 - 36754.200000000004',
 '52246.2 - 57745.8',
 '55K',
 '47K',
 '30K',
 '28500.0 - 31500.0',
 '42750.0 - 47250.0',
 '39421.2 - 43570.8',
 '31920.0 - 35280.0',
 '35K',
 '30871.199999999997 - 34120.8',
 '31920.0 - 35280.0',
 '26128.8 - 28879.2',
 '45K',
 '26596.199999999997 - 29395.800000000003',
 '26K',
 '15196.199999999999 - 16795.8',
 '48K',
 '22321.2 - 24670.8',
 '33253.799999999996 - 36754.200000000004',
 '20K',
 '20K',
 '28K',
 '40K',
 '17K']

We can see that some of the values are written interms of K (representing thousands) and some are in ranges of min and max salaries. 

Once we have eyeballed the data lets try to extract all dirty characters

In [49]:
#looking for dirty characters
dirty = []
a = r"[^\d.]"
b = [re.findall(a, str(x))  for x in df['Salary per annum'].tolist() if re.search(a, str(x))]
for i in b:
    dirty = dirty + i
    
#check all dirty values
set(dirty)

{' ', '-', 'K'}

We find three dirty characters:
    - K
    - '-'
    - space
Hence we try to clean them in the following ways:
- The hypehn represents the range hence we can replace this range with the average of the two since we dont exactly know how much the salary was. 
- K can be replaced with 000 for thousands
- the space is just in the range values as the range is given as (a - b). So once the range is cleaned the space should go. But we will check this assumption after cleaning aswell. 

First, lets correct the ranges.

In [50]:
#fixing range salary

#looking for - in salary
a = r".*[-].*"
[re.findall(a, str(x))  for x in df['Salary per annum'].tolist() if re.search(a, str(x))]


#splitting colums and creating a new dataframe
sal_range_fix = df.loc[df['Salary per annum'].str.contains('-',na=False),'Salary per annum'].apply(lambda s: pd.Series({'salary':s ,'left': s.split(' - ')[0],'right':s.split(' - ')[1]}))
#adding mean column
sal_range_fix['Mid'] = (pd.to_numeric(sal_range_fix.left) + pd.to_numeric(sal_range_fix.right))/2

#replace the dirty values
df.loc[df['Salary per annum'].str.contains('-',na=False),'Salary per annum'] = sal_range_fix.Mid

Now, lets change then K to thousands (000)

In [51]:
# checking where are the k pr K 
a = r".*[k|K].*"
[re.search(a, str(x)).group()  for x in df['Salary per annum'].tolist() if re.search(a, str(x))]

#replace k or K with 000
df.loc[df['Salary per annum'].str.contains('K', na=False), 'Salary per annum'] = df.loc[df['Salary per annum'].str.contains('K', na=False), 'Salary per annum'].str.replace('k', '000', case=False)

Now that we have cleaned it, lets check if there are any dirty values in the salary and confirm if all the spaces are gone.

In [52]:
#checking whether salary has anything other than numbers and decimals
a = r".*[^\d.].*"
{re.search(a, str(x)).group()  for x in df['Salary per annum'].tolist() if re.search(a, str(x))}

set()

Now the salaries seem to be clean, hence we move on.

## Source name

We know that the source name should include the websites where the jobs wer3e posted. Hence we know that to check for valid source names we have to check if they are valid website links. However, there can be websites that are in the correct format but do not exists, this errors unfortunately, will be very difficult to identify hence we will just identify incorrect values by checking their formats. 

The first task is to just eye ball the different values in the column.

In [53]:
df['SourceName'].unique()

array(['cv-library.co.uk', 'caterer.com', 'hays.co.uk',
       'theitjobboard.co.uk', 'jobs.catererandhotelkeeper.com',
       'careworx.co.uk', 'securityclearedjobs.com',
       'myjobs.cimaglobal.com', 'jobserve.com', 'jobg8.com',
       'rengineeringjobs.com', 'planetrecruit.com', 'hotrecruit.com',
       'jobsfinancial.com', 'thecareerengineer.com',
       'jobsineducation.co.uk', 'totaljobs.com', 'nijobfinder.co.uk',
       'staffnurse.com', 'emptylemon.co.uk', 'juniorbroker.com',
       'jobsinsocialwork.co.uk', 'strike-jobs.co.uk', 'fish4.co.uk',
       'randstadfp.com', 'simplysalesjobs.co.uk', 'cwjobs.co.uk',
       'OilCareers.com', 'careerbuilder.com', 'salestarget.co.uk',
       'jobs.guardian.co.uk', 'technojobs.co.uk',
       'professionalpensionsjobs.com', 'accountancyagejobs.com',
       'nijobs.com', 'jobs.planningresource.co.uk', 'jobs4medical.co.uk',
       'thegraduate.co.uk', 'jobs.newstatesman.com', 'contractjobs.com',
       'icaewjobs.com', 'jobs.bighospitality.co.uk', 'tntjobs.co.uk',
       'jobs.opticianonline.net', 'simplymarketingjobs.co.uk',
       'mediaweekjobs.co.uk', 'michaelpage.co.uk',
       'energygenerationjobs.com', 'jobstoday.co.uk',
       'jobs.telegraph.co.uk', 'cityjobs.com', 'emedcareers.com',
       'ukstaffsearch.com', 'gorkanajobs.co.uk', 'eventjobsearch.co.uk',
       'jobsite.co.uk', 'onlineinsurancejobs.co.uk', 'justengineers.net',
       'cvbrowser.com', 'jobs.chinwag.com', 'gojobsearch.co.uk',
       'onlymarketingjobs.com', 'nurseryworldjobs.co.uk',
       'jobsinrisk.com', 'careersinaudit.com', 'jobsinscotland.com',
       'jobs.gponline.com', 'jobs.scot.nhs.uk', 'monashstudent',
       'jobsincredit.com', 'insurancejobs.co.uk',
       'cardandpaymentjobs.com', 'britishjobsonthe.net',
       'london4jobs.co.uk', 'londonjobs.co.uk', 'legalprospects.com',
       'jobs.electronicsweekly.com', 'actuaryjobs.co.uk', 'scotsman.com',
       'renewablescareers.com', 'wikijob.co.uk', '3desk.com',
       'workthing.com', 'jobs.perl.org', 'jobcareer',
       'rcnbulletinjobs.co.uk', 'ifaonlinejobs.co.uk',
       'frontofficebanking.com', 'admin@caterer.com', 'grb.uk.com'],
      dtype=object)

We can see that different websites have different website link types. Hence using this we can create a regex to identify correct webistes and incorrect ones.

In [54]:
#creating regex for websites
a = r'^[a-zA-z0-9-.]+\.(com|co\.uk|uk|net|org)$'

#checking for dirty websites
df[~df.SourceName.str.contains(a, regex=True)].SourceName.unique()

C:\Users\rizvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

array(['monashstudent', 'jobcareer', 'admin@caterer.com'], dtype=object)

After applying the regex we can see that there are three values that dont seem to be valid websites. 
- monashstudent : seems to be not a website
- jobcareer : also does not seem to be a valid website
- admin@caterer.com : seems to be an email address

So lets view the data for these companies.

In [55]:
a = df.SourceName.isin(['monashstudent', 'jobcareer', 'admin@caterer.com'])
df[a]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
5663,66932999,Registered Midwives RM Lincolnshire Lincoln,Lincoln,part-time,non-specified,The A24 Group,Healthcare & Nursing Jobs,40140,monashstudent,20130124T150000,20130223T150000
12871,68393935,Killer Javascript role Exclusive to Brightwater,Belfast,full-time,permanent,Brightwater Group,IT Jobs,39996,jobcareer,20120205T150000,20120306T150000
15379,68672352,Digital Account Manager **** plus a Great Bonus,South East London,non-specified,permanent,Blu Digital,Sales Jobs,27504,admin@caterer.com,20120516T000000,20120715T000000

Lets try to figure out what the source name generally is for these companies.

In [56]:

df.loc[df.Company.isin(df.loc[a, 'Company']), ['Company', 'SourceName']].groupby(['Company', 'SourceName']).size().unstack(fill_value=0)

SourceName,admin@caterer.com,jobcareer,monashstudent,nijobs.com,staffnurse.com,totaljobs.com
Company,,,,,,
Blu Digital,1,0,0,0,0,3
Brightwater Group,0,1,0,5,0,0
The A24 Group,0,0,1,0,9,0

We can see that:
- BluDigital has the source totaljobs.com
- Brightwater Group has the source nijobs.com
- The A24 Group has the source staffnurse.com

Hence we can replace the dirty values with the correct ones

In [57]:
df.loc[df.SourceName == 'admin@caterer.com', 'SourceName'] = 'totaljobs.com'
df.loc[df.SourceName == 'jobcareer', 'SourceName'] = 'nijobs.com'
df.loc[df.SourceName == 'monashstudent', 'SourceName'] = 'staffnurse.com'

Lets confirm if we were able to clean them properly

In [58]:
df.loc[df.Company.isin(df.loc[a, 'Company']), ['Company', 'SourceName']].groupby(['Company', 'SourceName']).size().unstack(fill_value=0)

SourceName         nijobs.com  staffnurse.com  totaljobs.com
Company
Blu Digital                 0               0              4
Brightwater Group           6               0              0
The A24 Group               0              10              0

Once the source name is clean, we can move forward

## Open Date

The format for the dates are already provided hence we have to check if all the formats for this variable are consistent and also try to figure out if there are no funky dates are in the date attribute.

Lets first try to find out what the maximum and minimum values for the dates are by just extracting the date part and not looking at the time part.

In [59]:
on_t = lambda x: x.split('T')[0]

test = pd.to_numeric(df.OpenDate.apply(on_t))
print(test.min())
print(test.max())

20120101
20133004

Once we know the max and min for the dates (range) we can create a regex to check the format.

Lets try to check if there are dates that do not follow the format and are incorrect.

In [60]:
#creating regex for websites
a = r'^201[23](0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])$'

#checking for dirty websites
df[~df.OpenDate.str.contains(a, regex=True)].OpenDate.unique()

C:\Users\rizvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

array(['20121103T000000', '20130108T150000', '20130726T150000', ...,
       '20131509T000000', '20132901T150000', '20132108T120000'],
      dtype=object)

We can see that there are some dirty dates. Technically, they seem to be in an incorrect order i.e. the months in the days position and vice versa. 

Lets have another look by only looking at the dates and excluding the time part of it.

In [61]:
a = r'^201[23](0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])$'
test = test.astype(str)
test[~test.str.contains(a, regex=True)]

C:\Users\rizvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

1102     20131803
2104     20132606
2839     20122003
5707     20121512
10881    20133004
11948    20131908
15353    20121406
22918    20131509
23007    20132901
23169    20132108
Name: OpenDate, dtype: object

Okay so we have identified one error. The next thing to check is that if there exists any date which is out of bounds for February. That is the day is 29 or more in the month of Feb.

In [62]:
#searching for feb leap or wrong
# 2012 was a leap year
a = r'^201[23]02(29|3[01])$'
test = test.astype(str)
set(test[test.str.contains(a, regex=True)].tolist())

C:\Users\rizvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

{'20120229'}

We can see that there is one date that is of Feb 29, but on a simple google search, we can see that 2012 was a leap year. So it seems february is clean. 

Lets get back to the flipped dates and view all of them.

In [63]:
#checking dirty dates
a = r'^201[23](0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])T(0[0-9]|1[0-9]|2[0-4])[0-5][0-9][0-5][0-9]$'
df[~df.OpenDate.str.contains(a, regex=True)].OpenDate

C:\Users\rizvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

1102     20131803T120000
2104     20132606T000000
2839     20122003T150000
5707     20121512T150000
10881    20133004T150000
11948    20131908T000000
15353    20121406T120000
22918    20131509T000000
23007    20132901T150000
23169    20132108T120000
Name: OpenDate, dtype: object

Since we know the issue, we konw inorder to clean them we will have to replace the positions of the month and days. So lets create a function for that. Maybe, we might have to use it again for closedate.

In [64]:
#fucntion for fixing date
def date_fix(x):
    date = x.split('T')[0]
    time = x.split('T')[1]
    #extracting date parts
    y = date[:4]
    d = date[4:6] #storing correct day
    m = date[6:] #storing correct month
    #storing and creating the correct date format
    result = y + m + d + 'T' + time
    return result

Now that the function is created, lets clean the dates.

In [65]:
#checking dirty dates
a = r'^201[23](0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])T(0[0-9]|1[0-9]|2[0-4])[0-5][0-9][0-5][0-9]$'

#fixing date
df.OpenDate = df.OpenDate.apply(lambda x: date_fix(x) if re.search(a, x)==None else x)

One final check and if clean, lets move on.

In [66]:
#checking dirty dates
a = r'^201[23](0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])T(0[0-9]|1[0-9]|2[0-4])[0-5][0-9][0-5][0-9]$'
df[~df.OpenDate.str.contains(a, regex=True)].OpenDate

C:\Users\rizvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

Series([], Name: OpenDate, dtype: object)

## Closed Date

For the close date lets apply the same strategy. Lets first identify the range of the dates.

In [67]:
on_t = lambda x: x.split('T')[0]

test = pd.to_numeric(df.CloseDate.apply(on_t))
print(test.min())
print(test.max())

20120115
20140331

Next lets to to see whether there are dates that are not in teh correct format.

In [68]:
#checking dirty dates
a = r'^201[2-4](0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])T(0[0-9]|1[0-9]|2[0-4])[0-5][0-9][0-5][0-9]$'
df[~df.CloseDate.str.contains(a, regex=True)].CloseDate

C:\Users\rizvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

Series([], Name: CloseDate, dtype: object)

There seems to be no dirty dates. But then again, lets check for the month of February.

In [69]:
#searching for feb leap or wrong
# 2012 was a leap year
a = r'^201[23]02(29|3[01])$'
test = test.astype(str)
set(test[test.str.contains(a, regex=True)].tolist())

C:\Users\rizvi\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

{'20120229'}

Again, 2012 was a leap year, so no worries. 

One major thing that still might be an issue is that we konw that the closed date should always be after the open date. So next, lets try to check that.

## checking whether closed date is always after open date

In order to check this, itll be easier if we just checked the date parts of the attribute.

In [70]:
on_t = lambda x: x.split('T')[0]

testO = pd.to_numeric(df.OpenDate.apply(on_t))
testC = pd.to_numeric(df.CloseDate.apply(on_t))

Now that we have these lets join them together into another dataframe. But since join used indexes lets first check the indexes.

In [71]:
testO.index

RangeIndex(start=0, stop=25077, step=1)

In [72]:
testC.index

RangeIndex(start=0, stop=25077, step=1)

The indexes seem to be inorder hence lets just go ahead and join them together.

In [73]:
testO = testO.to_frame('Open')
testC = testC.to_frame('Close')

#join the data
testf = testO.join(testC, how='outer')

Now lets check if the new dataframe is consistent with the old one.

In [74]:
#checking if data is consistent with original dataframe
display(testf.head())
display(df[['OpenDate', 'CloseDate']].head())

       Open     Close
0  20121103  20121203
1  20130108  20130408
2  20130726  20130924
3  20121214  20130314
4  20131025  20131224

          OpenDate        CloseDate
0  20121103T000000  20121203T000000
1  20130108T150000  20130408T150000
2  20130726T150000  20130924T150000
3  20121214T000000  20130314T000000
4  20131025T000000  20131224T000000

Once we have the data time to check if there there are any closed date before open date.

In [75]:
testf[testf.Close - testf.Open < 0]

           Open     Close
6659   20130703  20130404
9568   20120306  20120205
11043  20131105  20131006
12473  20131222  20131023
19142  20120803  20120505
24206  20130622  20130324
24297  20130116  20121018
25039  20130708  20130608

Yes, There are a few. It seems in order to fix them we just have to flip the values between the columns. 

First lets store the index where these issues occur.

In [76]:
dirty_ind = testf.Close - testf.Open < 0

To actually do this, lets create a function and then use the stored dirty indexes to replace the columns.

In [77]:
def replace_open_close(x):
    op = x['OpenDate']
    cl = x['CloseDate']
    x['OpenDate'] = cl
    x['CloseDate'] = op
    return x

df[dirty_ind] = df[dirty_ind].apply(lambda x: replace_open_close(x), axis=1)

Now that its cleaned, lets check the original data set.

In [78]:
df[dirty_ind]

,Id,Title,Location,ContractType,ContractTime,Company,Category,Salary per annum,SourceName,OpenDate,CloseDate
6659,67330693,Pensions Implementation Manager,Brighton,non-specified,permanent,non-specified,Accounting & Finance Jobs,35004,hays.co.uk,20130404T000000,20130703T000000
9568,68091856,Manager Technical Operations,Shepton Mallet,non-specified,permanent,Index Recruitment,IT Jobs,62004,totaljobs.com,20120205T000000,20120306T000000
11043,68290941,Planning Enforcement officer,London,full-time,contract,Randstad,Engineering Jobs,39360,jobs.planningresource.co.uk,20131006T000000,20131105T000000
12473,68360715,Penetration Tester / Reverse Engineer,UK,non-specified,contract,Vertex Solutions,IT Jobs,76908,cwjobs.co.uk,20131023T150000,20131222T150000
19142,68729089,Registered Home Manager Loughborough,Loughborough,full-time,non-specified,Compass Associates Ltd,Healthcare & Nursing Jobs,42504,staffnurse.com,20120505T150000,20120803T150000
24206,69173205,"User Interface/UI Developer JavaScript, jQuer...",London,non-specified,permanent,Dawson & Walsh,IT Jobs,45000,totaljobs.com,20130324T150000,20130622T150000
24297,69181738,Registered General Nurse (RGN)/ Registered Men...,Poole,full-time,non-specified,Executive Care Group Ltd,Healthcare & Nursing Jobs,24960,staffnurse.com,20121018T000000,20130116T000000
25039,69228213,"SCIENTIFIC (PHYSICS, OR CHEMISTRY, OR ELECTRON...",Warrington,full-time,permanent,non-specified,Engineering Jobs,24996,fish4.co.uk,20130608T120000,20130708T120000

It seems to be clean now. Lets move on.

## Title

As we saw earlier, the titles were all unique. However, lets try to see if its clean. 

Lets first eyeball the data by checking it.

In [79]:
df.Title

0                              Engineering Systems Analyst
1                                  Stress Engineer Glasgow
2                         Modelling and simulation analyst
3        Engineering Systems Analyst / Mathematical Mod...
4               Pioneer, Miser Engineering Systems Analyst
5                  Trainee Mortgage Advisor  East Midlands
6                         PROJECT ENGINEER, PHARMACEUTICAL
7        Chef de Partie  Award Winning Restaurant  Exce...
8                                         Quality Engineer
9        Chef de Partie  Award Winning Dining  Live In ...
10            Senior Fatigue and Damage Tolerance Engineer
11                                     C I Design Engineer
12                                 Lead Engineers (Stress)
13         Relief Chef de Partie  Croydon, Surrey  Live in
14             Senior Control and Instrumentation Engineer
15                    Control and Instrumentation Engineer
16                               Electrical / ICA Engineer
17       Pastry Chef for **** red star **** rosette hot...
18       CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL ...
19       Senior Sous Chef for **** rosette kitchen, up ...
20       General Manager  Funky, Cool Restaurant Concep...
21                        MICE Sales and Marketing Manager
22                                         C/C++ Developer
23                                    Senior PHP Developer
24                                 Senior Website Designer
25                            Business Development Manager
26       Welwyn Chef de Partie does it get any better t...
27            Pastry Chef AL**** ****AA Rosette Restaurant
28                                             QA Engineer
29                                  Documentation Engineer
                               ...
25047                             Validation Engineer: IOT
25048                       RF Design and Customer Support
25049            Technical Sales Engineer  Deburring tools
25050                               Senior Internal Audior
25051    Business Development, P/T F/T, Flexible hours,...
25052                           Account Manager (No Sales)
25053                     Design and Applications Engineer
25054    Part Time/Full Time Business Development Work ...
25055         Financial Controller  temporary to permanent
25056    ICT Trainer (Vocational Training / IT Assessor...
25057                       Education and Training Manager
25058                                     Storage Engineer
25059                             Principle Java Developer
25060                                Analytical Consultant
25061            System Administrator Windows Exchange SQL
25062           Junior Drainage Engineer PDS Microdrainage
25063                         Head of Research Development
25064          Performance Test Consultant  SoapUI, LoadUI
25065         Rational Performance Tester  Test Consultant
25066    Fibre Laser Physicists / Engineers (Graduate t...
25067                        PCV Technician / Bus Mechanic
25068                               Relationship Executive
25069                            Cosmetic Regional Manager
25070                        Retail Bank Modelling Manager
25071    Business Analyst, Retail Ecommerce, Reading, B...
25072                    Mobile Developer (iOS or Android)
25073                                Tax Assistant Manager
25074              Newly Qualified Assistant Manager Role
25075                  Corporate Tax Senior Manager  Leeds
25076           Professional Services Financial Accountant
Name: Title, Length: 25077, dtype: object

Just by glancing at the values we can see the following:
- The titles are not only job titles but contain extra information regarding the position aswell.
- There are special characters included in the title 
    - Stars
    - hyphens
    - slash
    - etc.
    
Lets first try to find special characters.

In [80]:
#looking for characters other than words, -, ', \s.
a = r".*[^a-zA-Z\s.\-\\']+.*"
[re.search(a, str(x)).group() for x in df.Title.tolist() if re.search(a, str(x))]

['Engineering Systems Analyst / Mathematical Modeller',
 'Pioneer, Miser Engineering Systems Analyst',
 'PROJECT ENGINEER, PHARMACEUTICAL',
 'Lead Engineers (Stress)',
 'Relief Chef de Partie  Croydon, Surrey  Live in',
 'Electrical / ICA Engineer',
 'Pastry Chef for **** red star **** rosette hotel  ****',
 'CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL NYORKS  ****k',
 'Senior Sous Chef for **** rosette kitchen, up to ****',
 'General Manager  Funky, Cool Restaurant Concept  London  ****k ',
 'C/C++ Developer',
 'Welwyn Chef de Partie does it get any better than this? ****',
 'Pastry Chef AL**** ****AA Rosette Restaurant',
 'Fine Dining Chefs for rosette restaurants  up to ****',
 'Software Engineer/Mathematical Modeller',
 'Field Sales Executive / Business Development  Wide format printing',
 'FIELD SALES ENGINEER / SALES ACCOUNT MANAGER  PLASTICS',
 'C / C++ SOFTWARE ENGINEERS (All levels)',
 'Chef De Partie up to ****  Tips Ipswich Outskirts',
 'FB Assistant  amazing Hotel, unique dining ****benefits',
 'Senior Mechanical Engineer (Water)',
 'Chef De Partie Norfolk Live In up to ****  Tips',
 'Chef De Partie Burton On Trent Up to ****',
 'Pastry Chef/Baker  artisan bakery  Suffolk Coast',
 'Graduate Software Engineer  C, C++, Java, UML, OOD',
 'Revenue Manager Luxury Resort Hotel & Spa  Livein Available',
 'Commis Chef  Milton Keynes **** package',
 'Butler/Room Service Manager  **** Star Deluxe Hotel  London',
 'SALES ENGINEER  MIDLANDS, CAMBRIDGESHIRE, NORTHANTS',
 'PROPERTY BUYER / TELESALES',
 'Electrical / Mechanical Engineer',
 'Sous Chef Straight Shifts Bury St Edmunds up to ****',
 'Registered Mental Health Nurse (RMN) Durham',
 'Registered Mental Health Nurse (RMN) Sunderland',
 'Registered General Nurse (RGN) Sunderland',
 'RGN/ RMN Registered Nurse Jobs Deeside',
 'RGN / RMN Registered Nurse Jobs Dundee',
 'RGN/RMN Registered Nurse Jobs Fife',
 'RGN/ RMN Registered Nurse Jobs Inverness',
 'GP Liaison Woking Sales/Bus Dev',
 'Part Time Band 5 Pharmacy Technician Job Lancashire',
 'Care Home Manager Job North London ****K',
 'Nurses, Care Assistants and Support Workers Jobs Aberdeen',
 'Domiciliary Care Field Supervisor Bexley, Kent',
 'Nurses, Care Assistants and Support Workers Jobs Day in Edinburgh',
 'Band 7 Paediatric Occupational Therapist North London',
 'RGN / RNLD Community Nurse Job Northampton',
 'Health Care Assistants Needed in Horsham, Surrey',
 'Health Care Assistants Needed for Nursing Homes in Eastbourne, Sussex',
 'Nurses needed for Acute Hospital in Redhill, Surrey',
 'Nurses needed for Hospitals in Haywards Heath, Sussex',
 'PULSE Staffing are currently seeking Nurses to work in a Hospital setting, Sussex',
 'Nursing Home Nurses in Horsham, Sussex',
 'Nurses, Healthcare Assistants and Support Workers urgently required in Perth',
 'RMN / RGN jobs in Aberdeen area',
 'Qualified High Intensity Therapist / CBT Therapist Job Kent',
 'Nurse RGN/RMN',
 'Nurse RGN/RMN Jobs High Wycombe',
 'RGN / RMN Nights Epsom',
 'Senior Home Care Support Worker Brent / Wembley areas',
 'High Intensity Therapist (Hertfordshire)',
 'Qualified Psychological Wellbeing Practitioners x **** (Nottinghamshire)',
 'Psychological Wellbeing Practitioner (North Lincolnshire)',
 'High Intensity Therapists or CBT Therapists (Lancashire)',
 'Registered Nurse (RGN) Guildford Nursing Home',
 'Qualified Social Worker Job Suffolk (Adult and Community)',
 'Qualified Social Worker (Fostering and Adoption)',
 'Staff Nurse (RGN) Doncaster ****K',
 'Care Worker / Care Assistant',
 'Quality Manager  Nursing Homes Scotland ****K',
 'RGN Blackpool **** per hour',
 'Home Manager Inverness ****K',
 'Support Worker / Care Assistant Melbourn',
 'Support Worker / Care Assistant Ely',
 'Mental Health Pharmacist Band 7 Cheshire',
 'Home Manager Stockport ****K',
 'RMN / RNLD Perth',
 'Clinical Lead (RGN) Eckington',
 'RGN Manchester **** per hour',
 'Home Manager South Yorkshire ****K',
 'Staff Nurse RGN (Nights) Scunthorpe',
 'Care Assistant Dunstable, Bedfordshire',
 'Support Worker Luton, Bedfordshire',
 'Support Worker Bedford, Bedfordshire',
 'Clinical Lead Job Manchester (RGN Care Home Based)',
 'RGN/RMN Deputy Manager Job Manchester Dementia Care',
 'Senior RMN / RGN Shropshire',
 'Staff Nurse (RGN)',
 'Staff Nurse Workington, Cumbria',
 'RGN s F/T Bagshot',
 'RMN Job Guildford F/T',
 'Home Manager Barnsley ****K',
 'General Manager Manchester ****k',
 'Staff Nurse RGN (Nights)',
 'Registered Nurse, Warwick',
 'Nurse Home Manager Taunton, Somerset',
 'RMN / RNLD Job Woking',
 'RMN / RNLD Job Sheffield',
 'Dual Qualified Nurse Job Chester RGN/RMN',
 'Theatre Sister / Charge Nurse',
 'Night Sister / Charger Nurse Orthopaedics London',
 'Home Care Worker / Support Worker Bowdon',
 'Staff Nurse Oxford ****/hour',
 'Fertility Nurse / IVF Specialist',
 'Home Manager, Sunderland',
 'Clinical Lead / Deputy Manager',
 'IDTS StaffNurse Band 5',
 'Nurse Taunton, Somerset',
 'RGN / RMN / RNLD Aberdeenshire',
 'Staff Nurse Edinburgh, Scotland',
 'Nursing Home Manager (RGN) Stockport',
 'Night RGN Christchurch, Dorset',
 'RGN Bagshot, Surrey',
 'Experienced Staff Nurse / Deputy Manager Gosport',
 'Registered Nurse (RNLD or RMN) West Midlands',
 'Home Manager Clydebank ****K Bonus',
 'Home Manager Aberdeen ****K BONUS',
 'Staff Nurses Devizes **** **** ph',
 'Charge Nurse (RGN/RMN) Edinburgh',
 'Area Manager (Nursing Homes) Cheshire',
 'Nursing Home Manager Blackpool, Lancashire',
 'Staff Nurse (RMN/RGN/RNLD)',
 'Care Home Manager Perth ****K',
 'Orthopaedic Theatre Sister/Charge Nurse',
 'ENT/Eye Scrub Theatre Nurse Job Northampton',
 'Home Manager Leeds ****K',
 'Home Manager Rotherham ****K',
 'Staff Nurses Washington **** **** ph',
 'Support Worker  Domiciliary Care',
 'RGN Nights Wednesbury **** p/h',
 'RGN Nights Birmingham **** p/h',
 'Staff Nurse, Stafford',
 'Night Nurse (RGN/RMN)',
 'RGN Band 5/**** Theatre Nurses Nottingham',
 'RGN or RMN Nurse Nottingham, **** p/h',
 'Care assistant Job Solihull **** to **** ph plus generous mileage',
 'Registered Home Manager Luton ****',
 'Peripatetic / Relief Manager Nursing Homes London',
 'RMN/RNLD',
 'Senior Staff Nurse RMN/RNLD',
 'Senior Care / Team Leaders in Gravesend area',
 'Social Worker Older Persons/Physically Disabled',
 'Home Manager Dementia **** hours',
 'RMN s (Band 5 ****) Experienced and Newly Qualified',
 'Project Manager (West Midlands)',
 'Home Manager Mental Health 11 bed',
 'Staff Nurse RGN Prescot, Merseyside',
 'Registered Care Managers, Fixed Term Contracts',
 'RMN / RNLD Job Cardiff',
 'Clinical Lead RMN/RNLD Bromley',
 'Charge Nurse RMN/RNLD Kent',
 'Clinic Nurse Maidsone, Essex and South London',
 'VQ Assessor (Home Based)',
 'RMN Chesterfield Days, **** p/h',
 'RGN / RMN Nights Fife',
 'Night Nurse Newcastle (Set Nights)',
 'RGN / RMN Preston **** per annum',
 'RGN Nurse Hull Days or Nights **** per hour',
 'RGN Night Nurse Dewsbury ****p/h',
 'RGN Altrincham ****per hour',
 'Home Manager Fife ****K',
 'ODP / Theatre Nurse',
 'Registered General Nurse Exeter (Night Duties)',
 'Registered Nurse Birmingham (RGN)',
 'Registered General Nurse (Days)',
 'RGN / RMN Darlington ****p/h',
 'Staff Nurse Stockton on Tees ****',
 'Staff Nurse (Nights) StocktononTees',
 'RGN / RMN Harrogate Up to ****',
 'RGN Deputy Bakewell **** p/h',
 'RGN Deputy Nottingham **** p/h',
 'Nurse Practitioner / Nurse Prescriber',
 'Nurse Manager Altrincham ****K',
 'Project Manager (RGN)',
 'Nurse Practitioner/Prescriber Adult Paediatric',
 'Lead Endoscopy Nurse (RGN)',
 'Deputy Manager **** per hour',
 'RGN, Nights, **** p/h Shrewsbury',
 'Registered Nurse Blackpool ****',
 'RGN Thirsk, North Yorkshire',
 'General Manager Nursing Home, West Midlands',
 'ODP/Theatre Nurse Anaesthetics and Recovery',
 'Deputy Manager, Elderly Nursing Home, Chingford',
 'Home Manager, Elderly Nursing Home, Reading',
 'Lead Nurse, Edmonton, Elderly Nursing Home',
 'Unit Manager, Edmonton, Elderly Care Nursing Home',
 'Staff Nurse, Nursing Home, Oxford',
 'RGN Stockport Days, **** ph',
 'Scrub Nurse/Theatre Practitioner',
 'Staff Nurse, Elderly Nursing Home, Gloucester',
 'Domiciliary Care Field Supervisor Lambeth ,London',
 'Deputy Manager (RGN)',
 'RGN, Widnes',
 'RGN/RMN Nurse, Days **** p/h',
 'RGN Nurse Spalding 11501250 Days',
 'Staff Nurse, Elderly Nursing Home, Bath',
 'Deputy Manager, Stratford, Elderly Nursing Home',
 'Deputy Manager, Dorchester, Elderly Nursing Home',
 'RGN / RMN nurse',
 'RNLD Nurse Private Hospital (Doncaster)',
 'RNLD / RMN Staff Nurse',
 'RGN Home Manager, Loughborough ****',
 'RMN / RNLD Staff Nurse (LowSecure Hospital)',
 'Staff Nurse, Elderly Nursing Home, Newbridge',
 'Theatre Lead / Manager',
 'Part Time days RGN/RMN, Coventry ****ph',
 'RGN/RMN Night Nurse **** p/h Coventry',
 'Home Care Assistant / Support Staff / Domiciliary Care Workers',
 'Home Care Assistant / Care Workers / Support Workers',
 'Rota / Care Coordinator',
 'Clinical Psychologist, Private Hospital',
 'Staff Nurse Lowestoft, Suffolk',
 'Home Manager (RGN or RMN)',
 'RMN Glasgow ****',
 'Registered Nurse (RGN/RMN)',
 'Home Manager(COPY)',
 'Scrub Nurse / ODP',
 'RGN/RMN Staff Nurse',
 'Deputy Manager, Sheffield, Nursing Home',
 'RMN / RGN Nursing Home Manager',
 'Staff Nurse South Shields ****',
 'RGN Sheffield Days **** p/h',
 'Homecare Manager / Domiciliary Care Manager',
 'Home Manager Bangor, County Down',
 'NET WEB DEVELOPER/ WEB DEVELOPER',
 'RGN/RMN Lincoln Nights/Days ****',
 'Deputy Manager Middlesbrough ****K',
 'RMN Nights Darlington ****K',
 'STAFF NURSE ABERDEENSHIRE ****P/H',
 'RGN/RMN, Sheffield **** per hour',
 'Clinical Lead Nurse, Elderly Nursing Home',
 'RMN/RGN Nurse Stoke ****',
 'Staff Nurse, Nursing Home, New Malden',
 'Home Manager, Elderly Nursing Home, Huntingdon',
 'Staff Nurse, Care Centre, Rushden',
 'Staff Nurse, Private Hospital, Fareham',
 'Home Manager, Worcester, Elderly Nursing Home',
 'Theatre Scrub Nurse / ODP',
 'Domiciliary Care / Branch Manager',
 'Staff Nurses Poplar, East London',
 'Support Worker / Care Assistant / Care Worker',
 'RGN, Elderly Care, Warrington',
 'RGN, Elderly Care, Manchester',
 'Support Worker, Fareham, Private Hospital',
 'ORACLE FINANCIAL SUPPORT CONSULTANT / ORACLE FINANCIAL CONSULTANT',
 'RMN / RGN Night Nurse',
 '**** x Qualified Social Workers Child Protection',
 '**** x Qualified Social Worker Adults',
 'RSCN / Paediatric Nurse',
 'Theatre Practitioner Endoscopy / Scrub',
 'Occupational Therapist, Private Hospital, Fareham',
 'Food & Beverage Manager Up to ****',
 '2nd Chef  small operation within Grand Hotel, Suffolk',
 'Home Manager South Manchester ****K',
 'Early Years Lead Practitioner (Children s Centre)',
 'Staff Nurse, Elderly Care, Nursing Home, Stockton',
 'Area/Locality Manager',
 'RGN Team Leader, Days, **** per hour',
 'Theatre Anaesthetist/Scrub Practitioner',
 'Theatre Lead (Urology)',
 'Chef de Partie  Large, MultiOutlet Hotel  Fresh Food  Live In',
 'Team Leader (Gloucester)',
 'Team Leader (Stroud)',
 'RGN (Nights)',
 'Care Assistant / Senior Care Assistant',
 'Qualified Social Worker Adults Level 3',
 'Chef De Partie Required Near London Live in Up to ****',
 'Home Care Assistant / Care Worker / Support Worker Swindon Evenings/Weekends Only',
 'Home Manager, Cheshire',
 'RGN/RMN Nurse, Congelton **** p/h',
 'RGN Days, Northwich **** p/h',
 'RGN/RMN Telford Days **** p/h',
 'RMN, Elderly Care Nursing Home Newcastle',
 'Registered Nurse, Runcorn',
 'RGN Nurse, Days Barnetby, **** p/h',
 'RGN Deputy, Nantwich ****',
 'Home Care Workers, Support Workers, Carers, Care Assistants',
 'RGN Nursing Home Redcar, Cleveland',
 'Staff Nurse, Elderly Care, Nursing Home Barnsley',
 'RGN, Nursing Home, Northumberland',
 'RGN Nurse, Days Crewe **** p/h',
 'Home Care Assistant / Home Carer Jobs in Tunbridge Wells',
 'Staff Nurse, Elderly Care, Nursing Home',
 'Home Care Assistant / Home Carer Job in Maidstone and the surrounding areas',
 'Home Care Assistant / Home Carer Job in Gravesend',
 'Home Manager, Wolverhampton',
 'CNC Miller/Borers',
 'Assistant Manager Fresh Food Restaurant, Deansgate, Manchester',
 'Assistant Manager Fresh Food Restaurant, Sheffield',
 'General Manager  Brilliant Company  East London  ****k  ****k',
 'General Manager  Brilliant Company  North London  ****k  ****k',
 'RGN/RMN Staff Nurse Elderly Nursing Home',
 'Activity / Support Workers / Respite Workers',
 'CNC Programmer/Setter/Operator',
 ' CHEF DE PARTIE  **** RED STAR  **** ROSETTE KITCHEN  **** to ****',
 'Homecare Field Supervisor Ealing, London',
 'RGN/RMN Nurses Deputy **** p/h',
 'Home Care Workers Full Time (Stamford Rutland)',
 'RGN/RMN Nursing Home South Shields',
 'Senior Nurse / Clinical Lead Cardiff',
 'Fund Accountant SORP OEIC, Investment Bank',
 '****',
 'RGN Night Sister Northwich, **** p/h',
 'RGN/RMN Nurses, Crewe Nights/Days ****',
 'Bank Support Worker  Domiciliary Care',
 'Care Assistant / Community Carer',
 'RMN Nurse, Newark **** p/h',
 'Senior Support Worker x**** Evesham',
 'Qualified Social Workers x****',
 'Experienced RGN and RGN Deputy **** Sheffield',
 'RGN/RMN',
 'Home Manager Sheffield ****K',
 'Spa Manager  Famous **** Star Hotel & Spa Dubai',
 'Horizontal Vertical Borer(s)',
 'Rota / Care Coordinator (Oxford)',
 'Staff Nurse North Shields ****',
 'Practice Manager Fleet, Hampshire',
 'RGN Nurse, Days, Coventry ****',
 'Relief Sous Chef  Reading, Berkshire  Live In',
 'PHP / WordPress Developer',
 'Chef De Partie required Norfolk Live in ****  Tips',
 'Chef De Partie Required Derby ****',
 'Nursing Home Manager, Southport',
 'Multi Site Practice Manager Berkshire/London',
 'Project Manager / Service Manager Supported Living',
 'RGN / RMN Staff Nurse Dementia (Gloucester)',
 'Paraplanner (parttime)',
 'RGN Days, Leeds **** p/h',
 'RGN Home Manager Nottingham ****',
 'RGN/RMN Home Manager, Leicester ****',
 'Care Home Manager North Yorkshire ****K',
 'Bid Writer / Tendering Manager',
 'Staff Nurse, Elderly Care Nursing Home Derby',
 'Maintenance Engineer (FMCG)',
 'Clinical Governance Lead/Medicines Management',
 'Childrens Home IV Nurse (Bank)',
 'Support Workers / Trainee Support Workers',
 'Care Assistants: North Somerset / South Gloucester',
 'RGN / RNLD Learning Disabilities Nursing Home',
 'HGV Mechanic / LGV Commercial Vehicle Technician',
 'Staff Nurse Crewe, Cheshire',
 'Staff Nurses Southwark, London',
 'PERM RGN s and RMN s in BIRMINGHAM D/N Flexi Res Exp Ess ****ph F/T and P/T avail',
 'Perm RGN s Huddersfield **** ph Excellent National Care Home Group Var shift patterns avail',
 'RGN Nurse Ripley **** p/h Days or Nights',
 'Head of Care/Clinical Lead, Stoke ****',
 'Sous Chef Great Yarmouth **** Live in',
 'Assistant Manager Brilliant New Restaurant  Exeter  ****k',
 'Unit Manager RGN/RMN Southport ****K',
 '**** **** depending on experience  **** hours flexible shifts required Boston Lincs',
 'Support Worker / Care Assistant',
 'Adults Social Workers x ****',
 'Nursery Nurse NVQ ****',
 'RGN/RMN Nurse, Northampton **** p/h',
 'RNLD, RGN, RMN Nurse, Crewe, Days/Nights ****p/h',
 'RGN Corby, Days **** p/h',
 'Home Care Worker (South Bucks)',
 'Mechanical Engineer / Chemical Engineer',
 'Service Contracts Manager / Service and Maintenance / Sales Engineer',
 'SchoolsCluster Coordinator/Behaviour Consultant',
 'Analyst / Mathematical Modeller / Operational Analyst',
 'Sous Chef Hotel Hertfordshire ****',
 'Primary Teachers Norfolk / Suffolk',
 ' JUNIOR SOUS  **** ROSETTE  **** STAR HOTEL  DORKING  **** ',
 ' COMMIS CHEF  **** ROSETTE  WELL KNOWN COUNTRY ESTATE  **** ',
 'RMN needed in GLASGOW ****ph DAYS Dementia nursing home',
 'Registered Nurses (RGN or RMN)',
 'Earn up to **** per week Rewarding job in Care',
 'Assembly Technician / Electromech assembler',
 'ASPNet / VBNet Developer  West Yorkshire',
 'C++ Senior Software ****G Protocol Engineer',
 "Web Developer ASPNet/'C",
 'Software/ Firmware Test Engineer  C, Embedded  Perm  Edinburgh  ',
 'Senior Developer  CNet  Permanent  Aberdeen  Up to ****k',
 'Senior PHP Developer  PHP JavaScript JQuery XHTML CSS MySQL HTML5 Sou',
 'Senior Support Analyst  Linux/MySQL/ITIL',
 'Software Architect, London, To ****k DOE',
 'Software Engineer, C++, MFC, STL  ****k  East Grinstead',
 'Cisco presales in Sheffield  ****k package',
 'eCommerce Solutions Architect  (North London)',
 'UI Developer  (North London)',
 'Project Manager  ****p/a Livingston',
 'Senior Oracle Systems Manager (EBusiness Suite)',
 'Oracle Financial Consultant  Consultancy  up to **** basic  pack',
 'Website Designer/developer  Online Designer & Integrator  Letchworth Garden',
 'Data Centre Shift Lead, West London, up to **** DOE',
 'Website/Portal Systems Development Manager (Java Struts Spring)',
 'B2B Telesales Executive',
 'Senior Systems/Network Analyst',
 '1st Line Support',
 'Build Engineer  AD, Appv, Orca,Citrix Xenapp, VM',
 'SharePoint Designer (ASPNET, C, HTML, Javascript, SharePoint 2010)',
 'IT Support Engineer (Urgent)',
 'Inside Sales / Lead Generation ( Dutch, Finnish, Italian, German )',
 'Online Social Media/Forum Moderators ( German, Dutch, Norwegian )',
 'WebSphere Application Server Analyst  Music, Film & TV  London',
 'Java Developer (Hibernate, JPA, HTML)',
 'Network Manager (Urgent)',
 'Progress (****GL) Developer x ****',
 'Software Engineer  C++ under Linux',
 'Contracts Administrator / Support  SAP',
 'IT Manager/Project Manager (Danish Useful)',
 'Statistician/Data Analyst with SQL Server',
 'SAP Data Services (BODS) Consultant',
 'Programme Delivery Manager & Senior Consultants',
 'Operations Manager / Sage Consultant',
 'Cisco Channel Sales Manager  Wireless, Voice, Data & UC',
 'Technical Consultant (Net, C etc)',
 'IT Development / Solutions Manager',
 'Programmer / Analyst  Market Research',
 'Software Developer  C, ASPNet  **** to 6 Mth Contract  Glasgow / Edinburgh',
 'Sharepoint/Net Developer  Manchester ****k',
 'IT Support Analyst / 1st and 2nd line Engineer',
 'Linux Systems Engineer  Redhat/Networking  Permanent  Edinburgh  to ****k',
 'Senior Software Engineer /Team Leader',
 'Two C++ Software Engineers',
 'Systems Engineer  Active Directory, Exchange, SAN Storage, Design',
 'Senior Technical Consultant, Milton Keynes',
 'C Developer, Cambridge',
 'Database Administrator/DBA',
 'Python Developer/Senior Python Developer',
 'SAP PP/QM Consultant  UK Consultancy',
 'Senior Mobile Developer (java)  Android',
 'Electronics Hardware Engineer  Digital / Analogue Design',
 'Project Planner/Scheduler  MS Project',
 'Technical Writer with AuthorIT/Framemaker skills',
 'IT Administrator  Customer Support, Network and Disaster Recovery A',
 'Software Developer  C, ASPNet  Permanent  Glasgow  to ****k',
 'Software Developer  C, ASPNet  Permanent  Edinburgh  to ****k',
 'IT Support/ Developer Herts ****',
 'Systems Administrator, Linux, West London, ****k DOE',
 'JavaScript Developer  ****  Herts',
 'Programme Manager  Manufacturing / Production',
 'Software Developer  TSQL / ASP / NET',
 'Management Information Analyst (Access, Excel, SQL Reporting)',
 'Control Systems Engineer  MatLab / Simulink',
 'PHP / MySQL Developers  your dream job has arrived',
 'Systems Center Operations Manager  SCOM2012',
 'ecm / document management software sales  surrey / hants',
 'C++ Senior Analyst Programmer',
 'Embedded Linux / Android Developer',
 'Mobile Payments Integrations Developer, Cambridge',
 'European Sales Account Manager  XRF/ICP Prep Equipment',
 'Engineering Project Manager  electrical / electromechanical engineering',
 'Hotel Unit Manager (Days Inn)',
 'Commis/Demi Fresh Homemade food Country Pub ****',
 'Leisure Spa & Golf Manager  Beautiful Hotel & Spa',
 'RGN / RMN Deputy Manager',
 'Senior RGN Northwich ****per hour',
 'General Band 2 / Care Worker West Midlands Shropshire up to **** per hour',
 'Registered General Nurses (Band 5) Crewe up to **** p/h',
 'RMN Night Manager, Gainsborough **** p/h',
 'Night Shift Supervisor (CNC)',
 'Head of Care / Deputy Manager ****',

We can see that the asterix are used for alot of different purposes. 
- Some seem to be salaries or bonuses or tips that are hidden 
    - `**** p/h`
    - `**** K`
    - `**** to ****`
    - `**** Tips`
    - `**** BONUS`
- Some seem to be other than the ones mentioned
    - `**** x`
    - `x ****`
    - `**** RED STAR  ****`
    
There seems to be no general pattern. Removing the stars will create alot of missing wierd sentences. Either entire sentences are removed such as `**** RED STAR  **** ROSETTE KITCHEN  **** to ****`. 

Another way could be to replace the `*` with salaries where we see `p/h` or `K` but then since some of these could be mentioning bonuses, tips, etc imputing the replacing the wrong value would result in incorrect data. 

The point of data cleaning in general is to clean the data but not remove extra information that might be important. There are a few things to consider:
- Cleaning the `*` might cause incorrect cleaning e.g. replacing it with the wrong thing
- Titles are currently unique, this could be done delibrately, and might need to be unique. Cleaning the stars might cause duplicated, as we dont know why teh stars are introduced in the first place. 
- Maybe the starts in some cases represent line breaks such as if the length of the title was larger than the allowed length in the database and `****` represents `...` for continuation. 
- The database might be linked to an external aplication that picks up its values from the dataset. Maybe the stars are introduced as they want the information to not be shown on the app etc. Cleaning the `*` would cause issues. 

The point is that cleaning the `*` cannot be done accuratley, without either introducing more noise into the dataset or by removing the actaul purpose of the star. For these issues it is always best to sit with the client and understand how to clean the data before changing the original dataset. 

Another issue is that there is quite alot of information present in the title that is not mentioned in the data set, as in there is no attribute that includes that. e.g. `Graduate Software Engineer  C, C++, Java, UML, OOD`. Removing this information is going to result in loss of data. One Solution to this could have been to extract only titles and create another column for it which leaving this information as an attribute called Details. 

One thing than however, can be done without loosing information is cleaning the formating errors such as double spacing etc. Hence lets try to do that.

In [81]:
test = df.iloc[:,1:2]

In [82]:
#looking for characters other than words, -, ', \s.
a = r".*\sfor\s.*"
[re.search(a, str(x)).group() for x in df.Title.tolist() if re.search(a, str(x))]

['Pastry Chef for **** red star **** rosette hotel  ****',
 'Senior Sous Chef for **** rosette kitchen, up to ****',
 'Fine Dining Chefs for rosette restaurants  up to ****',
 'Health Care Assistants Needed for Nursing Homes in Eastbourne, Sussex',
 'Nurses needed for Acute Hospital in Redhill, Surrey',
 'Nurses needed for Hospitals in Haywards Heath, Sussex',
 'RGNs for Doncaster',
 'Scrub Nurses needed for mobile theatres',
 'Senior Care Consultant Regional Roles Available See Job Description for Locations',
 'Open Day for Care Assistant in Kent',
 'RGN Staff Nurses for Nursing Home Southall',
 'Junior SousBib Gourmand restaurant pushing for Michelin star',
 'Senior Prac for the Court Team',
 'SAS Data Developer Wanted for MIS Team',
 'Experience RGN/RMN needed for stunning nursing home Bridgend area',
 'Clinical Manager for Bournemouth Nursing Home',
 'Media Sales Outdoor Advertisement for a UK Top 100 company',
 'Sous Chef needed for gorgeous gastro pub Up to ****  tips',
 'Pastry Commis Chef for banqueting  restaurant role ****',
 'Senior Account Manager (Finance sector sales)  for a global IT/Telecoms company',
 'Senior Account Manager (Oil and Gas sector sales) for a major global managed network services provider',
 'Care Worker (Drivers with use of Car for work ONLY)',
 'Supply Teachers for Haringey',
 "Top schools' group in Singapore seeks an Executive Director of Pedagogy for Janu",
 'Junior Sous Chef  Ambitious Hotel  Aiming for AA Rosettes  Tips',
 'Teaching Assistant opportunity for a top Graduate',
 'Experienced Careworkers required for Westminster Lambeth',
 'Domiciliary Care Worker for Spelthorne Surrey',
 'Experienced KS**** required for NewcastleunderLyme Primary School',
 'Special Needs Primary Teacher for an Independent School',
 'Year **** Primary Teacher needed for school located in Selly Oak',
 'SEN Early Years Teacher (EYFS) needed for Special Educational Needs school (SEN) in Kingswinford, Dudley',
 'KS1 Teachers needed for Central Birmingham',
 'Talented Chef de Partie Required for **** AA Rosette Hotel',
 'Lutron Programmer for Custom Install',
 'Project Engineer  Packaging Systems for Food & Drink Sectors',
 'Commis chef (trainee with experience) wanted for Hotel ****',
 'Sheffield: Second Chef wanted for luxury Care Home in Sheffiled',
 'Graduate Accounts Trainee for GRAD SCHEME',
 'Hospitality / Retail / Bar Experience required for 2013  New Clients',
 'Reception Teacher Required in South Warwickshire for Maternity Post starting Easter',
 'Mathematics Teacher for a Secondary School',
 'Nurses needed for Care Homes Halifax',
 'Temporary Production Accountant needed for TV company',
 'Reception Teacher required for lovely school in Harlesden',
 'Electrical Engineering Assessor for Derby',
 'Facilities Manager for Large Facility based in Guildford',
 'Chef De Partie Pub Restaurant going for a Michelin Star Maidenhead',
 'Brand New & Exciting Opening in London Requires a Strong Assistant Manager for Fresh Mexican Concep',
 'Midweight Digital PM required for global digital consultancy',
 'Investment Team Assistant for leading Private Equity firm',
 'Web Developer for a digital agency (****k) in Central Manchester',
 'SAP Business One Consultant work from home for top Partner',
 'Junior Banking Headhunter for Sales and Trading  **** to **** OTE',
 'Brand New & Exciting Opening in Leeds Requires a Strong Store Manager for Fresh Mexican Concept ****K',
 'Brand New & Exciting Opening in Leeds Requires a Strong Assistant Manager for Fresh Mexican Concept',
 'Optometrists  New Jobs for 2013',
 'Sage 200 Consultant for superb consultancy',
 'Pastry Chef, ****AA Rosette Restaurant, pushing for ****AA, NYorks, ****k',
 'Brand New & Exciting Opening in London Requires a Strong Store Manager for Fresh Mexican Concept ',
 'LEISURE BUSINESS, General Manager/ Centre Manager for an exciting business',
 'Head Chef for Acclaimed Boutique Hotel / Restaurant with Rooms',
 'Chef De Partie Needed for Busy Events Industry',
 'FOH/ Revenue Manager Needed for Boutique hotel group in London',
 'Test for Huxley  please ignore',
 'Health Care Assistants needed for Midlands  Chesterfield',
 "Excellent opportunities for RGN's  Durham",
 'Recruiter for the Senior Healthcare Market, London',
 'Assistant managers needed for Boutique in Dubai',
 'Sales and Marketing Manager needed for large events venue in Nottingham  NO****',
 'Doorman/Host required for five star hotel',
 'Senior Sous Chef  Gastro Aiming for Michelin  MF ****k',
 'Head Baker  Teaching for Leading Catering School  London ****k',
 'Portuguese speaking Auditor for Forensics role  overseas travel',
 'Accounts Senior for WellRespected Accountancy Firm',
 'Support for Learning Assistant  G****',
 'New Start for 2013?  Sales Customer Service',
 'Supervising Social Worker for Independant Fostering Agency',
 "Senior Brokers / Closers Required for REM's Floor  London EC1M  ****k Basic  ****K OTE",
 'Open Day for Temporary SEN Teaching and TA Staff',
 'Domiciliary Care Worker for Woking Surrey',
 'Care assistants for Woking Area  car drivers',
 'Clinical Governance CoOrdinator Lead for Audit up to ****',
 'Sales Team Leader for leading job site',
 'Account Manager  corporate and consumer PR for leading brands',
 'Telemarketing exec for animation production company',
 'Cover Supervisor needed for Birmingham',
 'Maths teacher needed for South Birmingham School  ASAP',
 'Apply Today, Start Tomorrow New Sales for 2013',
 'Junior product manager for software company ****k',
 'VAT Seniors Needed for a Top 100 Firm',
 'Immediate Start for CNC Turner with Mazak Experience',
 'Demi CDP, Pastry CDP and CDP needed for world renowned restaurant',
 'Sous Chef Required for Reputable Oxford Hotel ****k LiveIn',
 'Chef De Partie  Exciting New Opening for 2013  Central London',
 'Chef de Partie for **** AA Rosette Central London Hotel ****',
 'COREcruitment Recruitment Day for a Brand New & Exciting Opening in Leeds Up to ****  Bonus',
 'We are looking for an enthusiastic, talented Restaurant Manager',
 'Great Opportunity for a Sales Executive  High end, well established accommodation brand',
 'Electronics Engineer for Business Consultant Role',
 'Excellent opprtunities for RGNs and RMNs  London',
 'Registered Nurses required for new luxury Nursing Home in Frome  Frome',
 'Domestic (F/T  Casual)  Nursing Home for Elderly Sisters  Birmingham',
 'Calling all NICU nurses for International posts  London',
 'Primary Tuition Teacher required for Tower Hamlets',
 'Urgent **** x Mid Level PHP Developers need for Guildford ASAP ',
 'Python Developer for Digital Consultancy',
 'Korean speaking PA for high profile leader',
 'PA required for Maternity Cover in well established, West End Investment firm Maternity Cover  Start in mid February',
 'Exceptional vacancy for a Net, C, ASPNET developer Edinburgh',
 'Java Ninja for Amazing Start up, London',
 'NET Developer Credit Risk IT for leading Investment Bank  London',
 'Exciting opportunity for a Managing Accountant  ****K',
 'Carers for Weekends',
 'Pastoral Support Assistant / Personal Tutor for Sixth Form',
 'Head Chef for Fast Growing, Award Winning Caterer to Private Jets',
 'Head Chef Pushing for Rosettes Cirencester Gloucestershire upto ****K Pa',
 'Assistant Manager for a Stunning City Wine Bar',
 'F&B Manager sought for **** Rosette Somerset Hotel Circa ****k',
 'Recruitment Manager for boutique media sales agency',
 "Domiciliary Care ManagerCharity Est'd Non for Profit Org  Truro",
 'Nurse Advisors  For nurses looking for a new challenge  Cambridge',
 'Integrated PM for Amazing Creative Fashion Agency',
 "Account Manager  corporate PR for one of London's best employers",
 'Experienced Research Executive looking for next move (tech/B2b)',
 'Teachers looking for daily supply',
 'House Officer  Respiratory Medicine required for short term locum',
 'Occupational Therapists Required for the MoD at DMRC Headley Court',
 'Software Engineer for R&D Consultant Role',
 'Sous Chef wanted for Award Winning Restaurant in Reading',
 'Fantastic Opportunity for a Sales Manager  Premium BrandManchester',
 'Fantastic Opportunity for a Sales Executive  Premium BrandManchester',
 'Sales Customer Service, Immediate Start for 2013',
 'Technical Architect for North West London',
 'Technical Endpoint/Firewall Specialist for VAD, Build Division',
 'English Teacher Required for Exceptional Kent Based School',
 'Head of Humanaties Teacher Needed for SE London School',
 'Maths Teacher Required for Large SE London School',
 'Recruitment Consultant looking for something more in your career???',
 'Experienced Recruitment Consultant Start a new role for 2013',
 'INSIDE SALES Experience Ireland for 18 months before returning to UK',
 'URGENT  Sales Assistant  Openings for the New Year',
 'Business Development/P/T or F/T from Home/Serious 2nd Income for 2013',
 'Junior PHP developer  Suitable for Graduate',
 'Primary Teacher for Swindon School',
 'Teaching Assistants for Alternative Provision',
 'New Homes Sales Manager for Estate Agent',
 'x**** Grads for Milton Keynes ****K  OTE Recruitment Co Training given',
 'PE Teachers wanted for supply teaching roles  Gloucestershire',
 'Humanities Teachers for Supply Teaching Roles  Swindon & Chippenham',
 'Science Teachers for Supply Teaching Roles  Gloucestershire',
 'PPA teacher for KS**** and KS****',
 'PartTime Primary Teacher required for PPA Cover',
 'High End Sommelier Needed for New Opening Upto ****k W/London',
 'Senior Ready for Supervisor',
 'Maths Teacher Required for SE London School  URGENT',
 'Early Years Teachers wanted for North London Primary Schools',
 'Audit & Accounts SemiSenior required for top West London firm',
 'Lettings Negotiator for prestigious Property Company in Fulham',
 'Sales Manager for Independent Estate Agency in North London',
 'Sales Manager for High End HiFi',
 'Study support offered for driven Personal Tax Assistant',
 'Linux DevOps for a Django Stack',
 'Seeking graduate looking for a role in Project Management or Marketing',
 'Nursery Nurses/ Assistants for Supply Roles  Bristol',
 'Bakers required for a great supermarket in London ****k',
 'Chef for Leeds Nursery',
 'Personal Tax Seniors for a Boutique',
 'Fantastic opportunity for a PARAPLANNER in Central London',
 'Pet Insurance Claims Team Leader  Ideal for Head/Senior Vet Nurses',
 'X**** Grads for Manchester MultiDisciplinary Recruitment Co ****K****K',
 'Qualified Teachers required for Birmingham Schools',
 'Breeze Tutor  Birmingham  Fixed Term for 6 months',
 'Account Manager for Property Magazine',
 'Chef de Partie for top dining restaurant in London',
 'Chef de partie for **** AA Rosette restaurant',
 'Eye for Detail?',
 'AUDIT SENIOR  ready for a change?',
 'Locum Appointment for Service in General Paediatrics',
 'LAT Specialty Registrar (StR), ST**** level Locum Appointment for Training in Otolaryngology',
 'Full Time Promotions for Charities in Newcastle, Roles for 2013',
 'ICT Teacher needed for the Blackpool area ASAP',
 'RE Teacher Required for Bolton area ASAP',
 'Teacher of Philosophy required for ASAP start',
 'English Teachers Required for Popular Derby School',
 'KS1 Teachers needed for immediate start',
 'Primary Teachers for Long Term roles',
 'Primary Teaching Assistant for Nuneaton Primary School',
 'Senior Site Manager for an awardwinning high spec developer  Surrey, London',
 'Level 3 Nursery Nurse needed for supply in Bershire area',
 'Urgently require RGNS for East London with Tracheostomy Training',
 'Publications Manager, a Great New Role for Medical Writers',
 'This Boutique Hotel is currently looking for a Head Chef/Senior Sous',
 'Restaurant & Caf? Manager for stunning West London Head Office  Immediate start',
 'Head Chef required for Junior & High School  38 week year Term Time only',
 'Live Cooking Chef for Indian High Street Restaurant',
 'Sous Chef Required for **** AA Rosette Wiltshire Hotel ****k LiveIn',
 'CDP Required for **** AA Rosette Boutique Hotel, Wiltshire ****kLiveIn',
 'Sous Chef for PanAsian Restaurant, Crowne Plaza  Kensington',
 'AML Refresh Analyst (**** month rolling funding for 12 months)',
 'Perl Programmer with MySQL for a UK Web Hosting Company',
 'New Sales Roles for the New Year',
 'Chef de Partie  Need for stunning Rosette Restaurant',
 'Sous Chef Wanted for Cambridgeshire Boutique Hotel ****k',
 '**** x Graduate Oil and Gas Headhunters for New Year Start',
 'Teacher of History for International School',
 'Reception Teacher for September',
 'Psychology Graduate for **** SEN ASD Role',
 'Speech Language Graduate for **** SEN R',
 'Cover Supervisors, urgently required for Schools in Hampshire',
 'Learning Support Assistant for an Autistic Pupil',
 'Talented Teaching Assistant required for Soilhull SEN School',
 'Solihull based English QTS needed for MLD students in SEN School',
 'Motivated Boys PE NQT/QTS required for Immediate Start in Warwickshire',
 'KS**** 2 Teachers needed for April 2013',
 'Teacher of English for International School',
 'Mathematics Teacher wanted for Outstanding School in Surrey',
 'Teachers required for Primary Schools',
 'Year **** Class Teacher Urgently Required for Westminster',
 'An exciting opportunity for an exceptional KS**** Lead Teacher',
 'Year **** Class required for Outstanding primaryschool in Kingston',
 'Primary School Daily Supply Teachers needed for immediate start',
 'Exciting Opportunity for a Restaurant Supervisor',
 'Duty Manager Needed for West Midlands Hotel',
 'Exciting Opportunity for an Assistant Restaurant Manager',
 'Primary Teachers Required for Catholic Schools',
 'Bookkeeper for growing Practice in West London',
 'Trainee Systems Operator for the city',
 'x**** Web Security Architect Wanted for multi year project',
 'iOS Developer for cool well funded startup',
 'Media Sales  Account Executive for Bloomberg Competitor',
 'OO Software Engineer  Technology Innovation for blue chip  upto ****k',
 'CNC Millers and Turners needed for Automotive/F**** subcontract client',
 'Temp Hybrid Transfer Agency / Treasury / Cash Flow for Master Feeder',
 'Teacher for Humanities KS**** **** English KS**** PRU in Basingstoke',
 'Primary Teaching Assistant opportunity for a Graduate',
 'Temporary Field Sales Officer (Disposals), Fixed Term for 12months',
 'Qualified Social Workers for ALL of London',
 'Senior Compliance Officer for interdealer broker',
 'Edinburgh  General Manager needed for Stunning Late Night Club Venue',
 'Staff Nurse  RGN for a Care Home  Bristol',
 'Excellent restaurant Managers Wanted for Stylish Spanish restaurant',
 'Nurse / RGN  Nursing Home for Young Adults  Sutton Coldfield',
 'Excellent opportunity for RGNs and RMNs in Slough  Birmingham',
 'HCA / Support Worker for Whizzkidz  Liverpool',
 'Education Resourcer for Leading Education Agency based in the City and Essex',
 'Qualified Teacher for Supply in Reading',
 'Teachers for Nursery and Reception in South East London',
 'Nursery Teachers required for schools in South East London',
 'Outstanding Teaching Assistant for ASD School',
 'Financial Analyst for Emerging Markets  (International Broadcast / TV )',
 'Vacancy for a C / MVC Developer, Perm ****K',
 'Booster/Intervention Teacher needed for Newham Area',
 'English Teacher urgently required for Pupil Referral Unit (PRU) in Tamworth, Staffordshire',
 'Year 6 teacher for school in Maidstone (Long Term)']

In [83]:
#looking for characters other than words, -, ', \s.
a = r".*\s{2,}.*"
[re.search(a, str(x)).group() for x in df.Title.tolist() if re.search(a, str(x))]

['Trainee Mortgage Advisor  East Midlands',
 'Chef de Partie  Award Winning Restaurant  Excellent Tips',
 'Chef de Partie  Award Winning Dining  Live In  Share of Tips',
 'Relief Chef de Partie  Croydon, Surrey  Live in',
 'Pastry Chef for **** red star **** rosette hotel  ****',
 'CHEF DE PARTIE POSITION IN **** ROSETTE HOTEL NYORKS  ****k',
 'General Manager  Funky, Cool Restaurant Concept  London  ****k ',
 'Fine Dining Chefs for rosette restaurants  up to ****',
 'Field Sales Executive / Business Development  Wide format printing',
 'FIELD SALES ENGINEER / SALES ACCOUNT MANAGER  PLASTICS',
 'Sales Negotiator  Birmingham',
 'Mechanical Engineer  Design and Substantiation',
 'Chef de Partie  Award Winning Fine Dining Restaurant  Straights',
 'Chef De Partie up to ****  Tips Ipswich Outskirts',
 'FB Assistant  amazing Hotel, unique dining ****benefits',
 'Pastry Demi Chef de Partie  Luxury Award Winning Hotel  Free Live In',
 'Senior Structural Integrity Engineer  Defence',
 'Chef De Partie Norfolk Live In up to ****  Tips',
 'Pastry Chef/Baker  artisan bakery  Suffolk Coast',
 'Plastic Extrusion Setter  Nights',
 'Restaurant Manager  Suffolk',
 'Graduate Software Engineer  C, C++, Java, UML, OOD',
 'Revenue Manager Luxury Resort Hotel & Spa  Livein Available',
 'Chef de Partie  Small Food Focused Hotel  All Fresh  Tips',
 'Junior Sous Chef  Relaxed Country Pub  All Fresh Food  Tips',
 'Commis Chef  Milton Keynes **** package',
 'Commis Chef  Open Plan Kitchen  Brasserie Restaurant  Live In',
 'Chef de Partie  Fine Dining Restaurant  Stunning Venue  Good Tips',
 'SENIOR ELECTRONICS ENGINEER  SWITCH MODE POWER SUPPLIES',
 'Chef de Partie  Country House Hotel  Development Opportunities',
 'Chef de Partie  Charming Hotel  All Fresh Food  Tips  Live In',
 'TELESALES ACCOUNT MANAGER  TOP COMPANY',
 'Butler/Room Service Manager  **** Star Deluxe Hotel  London',
 'Chef de Partie  High Volume Banqueting Department  All Fresh Food',
 'Future Leaders Development Programme  Technology',
 'Chef de Partie  High Quality Hotel  Fresh International Cuisine',
 'Assistant Manager  Restaurant  West End',
 'Demi Chef de Partie  Stunning Hotel  Fine Dining Restaurant',
 'Chef de Partie  High Volume Conference Centre  All Fresh Food',
 'Demi Chef de Partie  Large Four Star Hotel  Various Dining Options',
 'SALES ENGINEER  NORTH WEST',
 'SALES ENGINEER  MIDLANDS, CAMBRIDGESHIRE, NORTHANTS',
 'SALES ENGINEER  NORTH YORKSHIRE',
 'Chef de Partie  All Round Skills  Ambitious Restaurant  Tips',
 'General Manager  Great Restaurant Group  West London',
 'Chef de Partie  Accredited Boutique Hotel  Share of Tips',
 'Brasserie Supervisor  Suffolk Town Centre',
 'Senior Chef de Partie  One AA Rosette Hotel  Tips  Straight Shifts',
 'Demi Chef de Partie  High Quality Dining Venue  Tips  Live In',
 'Customer Retention Advisor  Hayes Middlesex',
 '2nd Chef  small operation within Grand Hotel, Suffolk',
 'Chef de Partie  Large, MultiOutlet Hotel  Fresh Food  Live In',
 'Pastry Chef de Partie  Fantastic Award Winning Hotel  Service Charge',
 'Support Workers  Care Work',
 'Chef de Partie  Fresh Food Short Order Focused Role  Straight Shifts',
 'Chef de Partie  Large MultiOutlet Hotel  Investment in the Kitchen',
 'General Manager  Brilliant Company  East London  ****k  ****k',
 'General Manager  Brilliant Company  North London  ****k  ****k',
 'Assistant Manager  Brilliant Branded Restaurant  North London',
 'Assistant Manager  Brilliant Branded Restaurant  Greenwich',
 'Chef de Partie  Fresh Food Pub  Good Reputation  Share of Tips',
 'Application Architecture Consultant  Web Digital',
 ' CHEF DE PARTIE  **** RED STAR  **** ROSETTE KITCHEN  **** to ****',
 'Chef de Partie  Hotel Offering Bistro Style Dining  Live In',
 'Chef de Partie  Country House Hotel  Award Winning Restaurant',
 'Spa Manager  Famous **** Star Hotel & Spa Dubai',
 'Relief Sous Chef  Reading, Berkshire  Live In',
 'Chef De Partie required Norfolk Live in ****  Tips',
 'Senior Chef de Partie  Award Winning Hotel  Live In Available',
 'Chef de Partie  Popular Food Led Pub  All Fresh Ingredients  Tips',
 'Lettings Manager  Bedford',
 'Chef de Partie  Privately Owned Restaurant  High End Dining  Tips',
 'Chef de Partie  Award Winning Hotel  Live In  Excellent Benefits',
 'Technical Support Engineer  Fire Detection',
 'Banquet Chef  Country House Hotel  Award Winning Venue  Live In',
 'Pastry Chef  Country House Hotel  Award Winning Venue  Live In',
 'Spa Therapists  Casual',
 'Sous Chef  Stable Fresh Food Pub  Free Live In  Good Tips',
 'Chef de Partie  High Quality Dining Pub  Fresh Foos  Share of Tips',
 'Sous Chef  High Regarded Food Led Pub  Live In Available  Tips',
 'Chef de Partie  Well Respected Food Focused Hotel  Tips  Live In',
 'Commis Chef  Outstanding Fine Dining Restaurant  Service Charge',
 'Chef de Partie  High Volume Fresh Food Operation  Straight Shifts',
 'Chef de Partie  Large Hotel Wanting To Improve Standards  Live In',
 'Chef de Partie  High Volume Food Led Pub  Accommodation Available',
 'Sous Chef  Quality Branded Restaurant  Tips  Straight Shifts',
 'Infrastructure Project Manager  FX and Clearing',
 'Calling all WAITING STAFF in IPSWICH  do the shifts that suit',
 'Assistant Manager Brilliant New Restaurant  Exeter  ****k',
 'Pastry Sous Chef  Top Hotel  High Volume Pastry Operation',
 'Junior Sous Chef  Quality Four Star Hotel  Popular Wedding Venue',
 'Sous Chef  High End Boutique Style Hotel  Share of Tips  Live In',
 ' JUNIOR SOUS  **** ROSETTE  **** STAR HOTEL  DORKING  **** ',
 ' COMMIS CHEF  **** ROSETTE  WELL KNOWN COUNTRY ESTATE  **** ',
 'Sous Chef  Country Pub With Restaurant  Award Winning  Live In',
 'Chef de Partie  Gastro Pub  NrPeterborough',
 'Senior Fluid Systems Engineer  Nuclear',
 'Account Manager  Recruitment',
 'ASPNet / VBNet Developer  West Yorkshire',
 'Service Desk  Project CoOrdinator',
 'Software/ Firmware Test Engineer  C, Embedded  Perm  Edinburgh  ',
 'Senior Developer  CNet  Permanent  Aberdeen  Up to ****k',
 'Senior PHP Developer  PHP JavaScript JQuery XHTML CSS MySQL HTML5 Sou',
 'Senior Support Analyst  Linux/MySQL/ITIL',
 'Software Engineer, C++, MFC, STL  ****k  East Grinstead',
 'Cisco presales in Sheffield  ****k package',
 'Exciting Embedded C Software Engineer  Cheltenham',
 'eCommerce Solutions Architect  (North London)',
 'UI Developer  (North London)',
 'Project Manager  ****p/a Livingston',
 'Senior Software Developer  Southport',
 'Oracle Financial Consultant  Consultancy  up to **** basic  pack',
 'Website Designer/developer  Online Designer & Integrator  Letchworth Garden',
 'Build Engineer  AD, Appv, Orca,Citrix Xenapp, VM',
 'Senior IT Project Manager  Group IS Development',
 'WebSphere Application Server Analyst  Music, Film & TV  London',
 'Software Engineer  C++ under Linux',
 'Contracts Administrator / Support  SAP',
 'Test Manager  UAT',
 'Cisco Channel Sales Manager  Wireless, Voice, Data & UC',
 'Programmer / Analyst  Market Research',
 'Software Developer  C, ASPNet  **** to 6 Mth Contract  Glasgow / Edinburgh',
 'Sharepoint/Net Developer  Manchester ****k',
 'Linux Systems Engineer  Redhat/Networking  Permanent  Edinburgh  to ****k',
 'Systems Engineer  Active Directory, Exchange, SAN Storage, Design',
 'SAP PP/QM Consultant  UK Consultancy',
 'Senior Mobile Developer (java)  Android',
 'Snr Software Engineer  C Net',
 'Electronics Hardware Engineer  Digital / Analogue Design',
 'Project Planner/Scheduler  MS Project',
 'Senior Software Integration Engineers  Hampshire',
 'Software Developer  C, ASPNet  Permanent  Glasgow  to ****k',
 'Software Developer  C, ASPNet  Permanent  Edinburgh  to ****k',
 'JavaScript Developer  ****  Herts',
 'Programme Manager  Manufacturing / Production',
 'Software Developer  TSQL / ASP / NET',
 'Software Consultant  Financial Markets Software House',
 'Subcontract Programme Manager  IT Projects',
 'Control Systems Engineer  MatLab / Simulink',
 'Ecommerce Business Analysts  Retail focused  UK WIDE',
 'Mobile Solutions Consultant  define and lead mobile strategy',
 'Software Programme Manager  Full Life Cycle Develp Experts',
 'Senior Middleware Engineer  SC cleared',
 'Technical Support Analyst  Rickmansworth',
 'PHP / MySQL Developers  your dream job has arrived',
 'Systems Center Operations Manager  SCOM2012',
 'ecm / document management software sales  surrey / hants',
 'European Sales Account Manager  XRF/ICP Prep Equipment',
 'Healthcare Sales Executive  New Business Strategies',
 'Recruitment Consultant  Employability',
 'Engineering Project Manager  electrical / electromechanical engineering',
 'Sales manager  outstanding opportunity',
 'Risk Management  Insurance Manager',
 'Leisure Spa & Golf Manager  Beautiful Hotel & Spa',
 'Sous Chef  British Menu Exciting New Venture Suffolk',
 'Spa Therapists  Stunning Hotel & Spa',
 'Project Manager  Insurance',
 'PR Director  European and New Markets  FORTUNE **** FINANCIAL SERVICE',
 'Finance Manager  MI Specialist circa ****k  East Midlands',
 'Senior Operations & Strategy Analyst  General Insurance',
 'Senior Mechanical Design Engineer  Interactive Board Systems',
 'Maintenance Engineer  South Wales',
 'Electrical Engineer/Programmer ****k  West Midlands',
 'Requirements Engineer  Reading  ****k',
 'Mechanical Manufacturing Engineer  ****',
 'System Test Development Engineer  Contract and Permanent',
 'CNC Programmer  Turner',
 'Managers Required Up Nationwide ****  ****',
 'Art  HOD',
 'Secondary Teacher  supply work in Beds and Herts',
 'Secondary Teacher  Supply work in Norfolk',
 'Chef de Rang  High Profile **** Rosette Restaurant',
 'Chef de Partie  **** AA Rosettes',
 'Digital Account Manager  Project Manager',
 'Chef de Partie  ****  **** Hotel, **** Rosette',
 'Electronics Design Engineer  FPGA VHDL',
 'Para Planner  Work From Home',
 'Customer Service Advisor  Branch Based',
 'Project Manager  Business Change Financial',
 'Head Chef  Nottingham area  Branded Restaurant Salary OTE ****k',
 'Senior UX    IA',
 'Chef de Partie  Modern High Volume Hotel  Fresh Food  Good Tips',
 'Healthcare Assistant  HCA  Leicestershire  Leicester',
 'HGV Technician/ Heavy Vehicle Mechanic  Nottingham',
 'HGV Technician/ Heavy Vehicle Mechanic  Gloucester',
 'RGN Registered General Nurse  Durham',
 'Learning Disability Support Workers  Durham',
 'Commis Chef  Luxury Four Star Hotel  Straight Shifts  Discounts',
 'Sous Chef  Country House Hotel With Award Winning Dining  Live In',
 'Customer Adviser  Retail Telephony',
 'Dotcom IT  TFS Administrator',
 'Deputy Manager  Greater London (North)  Gastro Pub  ****K',
 'SaaS Project Manager  Global System Integrator  ****K****K  bonus ',
 'Senior Chef de Partie  Busy Brasserie Restaurant  Share of Tips',
 'Senior Chef de Partie  **** Star Hotel  London  ****',
 'Chef de Partie  ****AA Rosettes  Luxury Hotel  Cheshire ****K',
 'Pastry Chef de Partie  Food Focused MultiOutlet Hotel  Good Tips',
 'Customer Adviser  Retentions Telephony Sales',
 'Lead Developer  Chester  ****k',
 'Qualified Social Workers  Barnsley',
 'Nursery Manager  Surbiton',
 'Senior Signalling Design Engineer  Rail',
 'Commis Chef  Regionally Focused All Fresh Gastro Pub  Share of Tips',
 'Rosette Chef roles  traditional British Cuisine',
 'Chef De Partie  Felixstowe Restaurant',
 'Restaurant Manager  Hampshire  **** AA Rosettes  Live In',
 'Experienced Registered General Nurse  Guildford',
 'Client Relationship Manager/Account Manager  Sales & Marketing, Autom',
 'Sous Chef needed for gorgeous gastro pub Up to ****  tips',
 'IT Audit executive  Bristol',
 'DSP Audio Software Engineer  Mid Lothian',
 'Product Assurance Manager  Aerospace electro systems Bristol',
 'Portfolio Manager  Private Clients',
 'Pastry Commis Chef for banqueting  restaurant role ****',
 'Chef de Partie  Top Quality Brasserie Dining  Two AA Rosette Level',
 'IT Helpdesk / Desktop Support Analyst  Fixed Late Shift, US Law Firm',
 'English Teacher  Outstanding School  English Teaching',
 'Chef de Partie  Suffolk  ****AA Rosettes  **** Live In',
 'Junior Sous Chef  Award Winning Hotel  Good Company Benefits',
 'Chef de Partie  Brasserie  New Opening',
 'Helpdesk Analyst  Professional Services, Windows XP/7, MS Office ****/2010',
 'Senior Account Manager (Finance sector sales)  for a global IT/Telecoms company',
 'C++ Software Developer  Scotland',
 'Night Shift Production Manager  Northamptonshire  ****',
 'Shift Manager  Northamptonshire  ****',
 'QA Manager  Northamptonshire  ****  CRJE****/****',
 'Packaging Manager  Northamptonshire  ****',
 'Electronics Design Engineer  Micro/ASICS  **** ****k',
 'Software Engineer  Linux Kernel, Embedded',
 'Embedded DSP Development  video/imaging',
 'Senior Embedded Engineer  LTE, Layer **** RTOS',
 'Compiler Developer GCC/LLVM  Buckinghamshire',
 'Software Engineer C++, C or Java  Carlisle',
 'Linux Kernel Software Engineer  Linux, Unix, C, Berks',
 'Software Engineer  C / C++ SystemC',
 'Embedded Software Engineer  Tool development',
 'Chef de Partie  High Quality Venue  Modern Cooking  Live In',
 'General Manager, Birmingham  Fantastic Opportunity',
 'Chef de Partie  High End Pub/ Restaurant  Modern British Dining',
 'Senior Sous Chef  MultiOutlet Hotel  Fine Dining & Banqueting',
 'Implementation Analyst  Pension Administrator',
 'Michelin Head Chef  ****',
 'Sous Chef  Fresh Food Pub/ Restaurant  Share of Tips',
 'Chef de Partie  Shropshire  ****AA Rosettes  Live In',
 'English Teacher  SE London',
 'Alternative Investment Specialist  London  ****K Basic  ****K OTE',
 'Embedded C  Engineer  Staffordshire  ****  ****',
 'Countless Fresh Food Chef positions nationwide  ****',
 'Valuations Manager  Lichfield',
 'Chef de Partie  Coastal Coaching Inn  High Quality Dining  Training',
 'Client Executive  Insurance',
 '2nd Line Support  To ****k  Slough',
 'SharePoint/Application Support  ****k Mancheste',
 'Care Home Manager  Nurse  Kettering',
 'Care Home Manager  Nurse  Cambridge',
 'Part Time Senior Staff Nurse (Nights)  Taunton',
 'Cheltenham, Gloucestershire  Optometrist (Parttime 34 days)',
 'Pastry Chef  Bistro Restaurant  Desserts, Baking & Cake Decorating',
 'QC Analyst  Temporary',
 'Graduate Customer Service Advisor Job  Docklands, London',
 'RGN Nurses (Hospitals)  Newport',
 'Staff Nurse Day Case Unit  London',
 'Home Manager RGN  Cambridgeshire  Cambridge',
 'Registered General Nurse  Darlington',
 'Commoditie Broker  ********k Basic',
 'Commis Chef  Food Led Venue  Regularly Changing Menus  Free Live In',
 ' JUNIOR SOUS CHEF  **** RED STAR  **** ROSETTE KITCHEN  HIGH STANDARDS ',
 'Chef de Partie  Brasserie Style Restaurant  High Quality Venue',
 'JUNIOR SOUS  **** AA ROSETTE  MODERN EUROPEAN CUISINE  LIVE IN OPTION',
 'Assistant Manager StAlbans  Fantastic Opportunity',
 'Chef de Partie  Country House Hotel  Luxury Venue  All Fresh Food',
 'Care Assistant  Belfast',
 'Registered Nurse  Bank  Lincoln',
 'Part Time Nurses  Sexual Health / Family Planning  Newcastle upon Tyne',
 'Commis Chef  Award Winning Hotel  Excellent Training  Live In',
 'Pastry Sous Chef, Luxury Hotel and Restaurant, North West,  compet',
 'Software Developer  OO, C++, Java, C, ASPNET, VBNET',
 'Telesales  SEO Urgent OTE ****k',
 'Electrical Test Engineers (****)  No Agents Please',
 'Shift Leader  Plastic Products',
 'English Teacher Required  Guildford',
 'Maths Teacher Required  Guildford',
 'English Teacher Required  Wandsworth',
 'Catering Manager  StratforduponAvon',
 'IT Project Manager  Prince****/Agile, Perm, Norwich, Excellent Salary  Benefits',
 'Sous Chef  Gastro Pub',
 'Sous chef  Must have at least **** rosette background',
 'Snr Chef de Partie or Jnr Sous chef  Quality Hotel  Derbyshire',
 'Manager  classic pub restaurant near Hook, Hampshire',
 'Demi Chef de Partie  High Quality Brasserie Dining  Country Hotel',
 'Demi Chef de Partie  Luxury country House Hotel  Live In Available',
 'Telecoms Network Design  Technical Lead (Lead, Technical, Technical Lead)',
 'Support Worker  Birmingham',
 'Sous Chef  High Volume Fresh Food Restaurant  Live In Available',
 'Junior Delphi Developer  Music & Entertainment Industry  London',
 'Delphi Developer ****k  ****k  Music & Entertainment Industry  London',
 'Cisco Sales Account Manager (Cisco Solutions)  Bedfordshire',
 'Bar Manager  Stylish Bar  Soho  ****k',
 'Senior Pastry Chef de Partie  MultiOutlet Hotel  High Standards',
 'Head Chef  COVENTRY  New Branded Restaurant Up to ****K  bonus',
 'Chef de Partie  Busy Brasserie Style Restaurant  All Fresh Food',
 'Junior Sous Chef  Award Winning Hotel  High Volume Kitchen Operation',
 'Head Chef  Award Winning Hotel  MultiOutlet Venue  Bonus Scheme',
 'Delivery Manager  Environmental / Renewables',
 'Quality Assurer  Essex',
 'JUNIOR NET DEVELOPERS  Only 1 years experience required',
 'Chefs  immediate starts still available free Live In ****',
 'Head Chef  Gloucester',
 'Recently Opened Restaurant  Chef de Partie  Fine Dining',
 'Commis Chef  Recently Opened Restaurant  Fine Dining',
 'Private Client Manager Job  City of London',
 'Emerging Markets Product Control Job  London',
 'Account Manager  Oxfordshire  **** ****  Ref ****',
 'English Teacher  Maternity Cover',
 'Financial Accounts Assistant  Gibraltar',
 'Senior PHP Software Engineers  Manchester, Liverpool And Sheffield',
 'Primary Teaching Assistant  Literacy Numeracy',
 'Key Customer Manager  Surrey/Sussex',
 'Business Analysts  Manchester, Liverpool, Sheffield And London',
 'English Teacher  Thurrock LEA  Jan 2013 start',
 'Teachers  Young Offenders Unit',
 'Head of Finance  Business Partner',
 'Resourcer  Recruitment',
 'Test Automation Consultant  UK',
 'C Developer Southampton  ****K to ****K',
 'PCV Technician  Surrey',
 'PCV Technician  south east London',
 'Draughtsman  AutoCad  ****K Yorkshire',
 'Electronics Engineer  Milton Keynes  ****',
 'Primary Supply  North London',
 'KS2 teacher in Putney  Up to **** per week',
 'Primary teacher needed in Earls Court  Up to **** per day',
 'Year 1 Teacher at London Bridge  Up to **** per day',
 'DESIGN TECHNICAL SPECIALIST  ****K',
 'QUALITY ENGINEER  c****K',
 'HGV technicians  Shepton Mallet',
 'HGV Technician  Egham',
 'HGV Nights Technician  Hemel Hempstead',
 'HGV Technician/ Heavy Vehicle Mechanic  Durham',
 'Graduate  Digital ASIC Design Engineers',
 'Key Stage **** & 4 Teacher of Maths  Reading, Berkshire',
 'Senior Principal Engineer  Platform Integration  Naval',
 'Associate  Corporate Restructuring',
 'Electronics Engineer  Team Leader',
 'C Developer  SharePoint/ Net; ****k; Manchester',
 'PROGRAMME SUPPORT OFFICER  SELBY NORTH YORKSHIRE',
 'Senior Software Engineer  C++, Cnet  Herts',
 'IT Trainer  TAP, MOS, IITT, Windows 7, MS Office, LMS',
 'Senior Social Media Consultant  3 month contract  ****k pro rata',
 'Social Media Account Manager  **** month fixed term contract',
 'CLINICAL NURSE MANAGER  RICHMOND  Richmond',
 'General Manager Cambridgeshire Up to ****  Tips',
 'Restaurant Manager  Fresh Food Restaurant  Oxford',
 'Chef de Partie  High Volume Quality Restaurant  Tips  Modern Venue',
 'Software Engineers, South West  Somerset',
 'Head of Innovation and Product Development  Hatfield',
 'ETL Developer  London  Insurance',
 'TEST ENGINEER  Medical Software Engineering  Windsor, ****K, Windsor and Maidenhead',
 'Junior CNet Software Developer  Bristol',
 'Revenue Systems Analyst  Agile',
 'Quality Inspection Team Leader  Middlesex',
 'High Volume Restaurant Brand  up to ****K basic  Branded experience',
 'Sous Chef  Small Fresh Food Hotel  Ongoing Training  Temp Live In',
 'German Speaking Functional Analyst  SaaS, Cloud  London',
 'LEAD TEST ENGINEER  Medical Systems Engineering Windsor, ****K, Windsor and Maidenhead',
 'Systems Development  Technical Lead  Andover, Hampshire',
 'Commis Chef  High Quality Hotel  Stunning Location  Live In  Tips',
 'Chef de Partie  Country House Hotel  Restaurant & Banqueting',
 'Chef de Partie  Michelin',

In [84]:
df.Title = df.Title.str.replace('\s{2,}', ' ', case=False)

In [85]:
#looking for characters other than words, -, ', \s.
a = r".*\s{2,}.*"
[re.search(a, str(x)).group() for x in df.Title.tolist() if re.search(a, str(x))]

[]

Lets see what other special characters are in the title.

In [86]:
#looking for dirty values
a = r".*([^a-zA-Z0-9\s.])+.*"
set([re.search(a, str(x)).group(1) for x in df['Title'].tolist() if re.search(a, str(x))])

{'%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '/',
 ':',
 ';',
 '?',
 '[',
 ']',
 '_',
 '`',
 '|',
 '',
 '',
 '',
 ''}

In [87]:
#looking for dirty values
a = r".*([^a-zA-Z0-9\s.])+.*"
b = ''.join(list(set([re.search(a, str(x)).group(1) for x in df['Title'].tolist() if re.search(a, str(x))])))
# c = "[?+:'\][&)_/,|*;(%`]"
c = "[?%]"
df[df.Title.str.contains(c)].Title

26       Welwyn Chef de Partie does it get any better t...
3902     Digital Brand Manager, FMCG, London ****k plus...
4208                           Senior Seeking Progression?
4644     Community Occupational Therapist ??? Leicester...
4649             Community Physiotherapist ??? Bournemouth
4718     SalesForcecom Consultant Global IT Services **...
5005       Proposal Manager/Cambridgeshire/****k 10% bonus
5236     Home Manager RGN/RMN/RNLD Peterborough ****k p...
5731            No Experience? No Problem Immediate Starts
6703     Telesales Experience? Junior Brokers LONDON **...
7036     Receptionist De Vere Venues Ltd ?? Wokefield Park
7986         Test Analyst Bath up to ****K up to 20% bonus
8548      Graduate Data Executive SQL / SAS Skills? London
8558            New Start for 2013? Sales Customer Service
8708     Fancy Becoming A Broker?? Bromley ****K Basic ...
8759     Client Support Technician Fleet twentyfour/sev...
8795                   Can you handle this UK/US tax role?
8906     Are you a supervising Social Worker in Notting...
9141            RECRUITMENT EXPERIENCE Want to specialise?
9190     DO YOU HAVE 2 YEARS CURRENT BUY SIDE OPERATION...
9898                                    Voc fala Portugus?
10662    Conference & Events Coordinator De Vere Venues...
10664    Food & Beverage Services Assistant De Vere Ven...
10665    Senior Chef de Partie De Vere Venues Ltd ?? La...
10666    Night Team Leader De Vere Venues Ltd ?? Wokefi...
10667    Head Professional (Golf) De Vere Venues Ltd ??...
10668    Senior Chef de Partie De Vere Venues Ltd ?? Wo...
10721    Spa Therapist (Hourly) De Vere Venues Ltd ?? W...
10722    Key Account Coordinator De Vere Venues Ltd ?? ...
10858            No Experience? No Problem Immediate Start
                               ...
17700     Receptionist De Vere Venues Ltd ?? Latimer Place
18178        100% Advisory Corporate Tax Assistant Manager
18472                                      Eye for Detail?
18660                     AUDIT SENIOR ready for a change?
18920    Wedding & Events Coordinator De Vere Venues Lt...
18922    Diary & Events Coordinator De Vere Venues Ltd ...
19218    Experienced Brokers? Fancy a change of Commodi...
19267    Senior Commodities Broker  London ****K Basic...
19315         Bored of Audit? Great opportunity Hull Big 4
19548            Relocate to the US? QA Software Engineers
19921    Vehicle NVH Engineer Acoustic Pack Specialist ...
19923    Automotive Timing Planning Engineer **** ?****...
19926    Vehicle Hybrid/Electrification Integration Eng...
20108    Restaurant & Caf? Manager for stunning West Lo...
20174    Conference & Events Coordinator De Vere Venues...
20979                         Super Sous? Then we need you
21103    Senior Account Manager Harrow ****k OTE (20% o...
21632       Home Manager RGN Kettering ****k p/a 25% bonus
22125         CNC Toolmaker pound;23,70020% Shift Overtime
22370       Senior Developer Do you want to Learn Python??
22384                    Senior Sales Consultants Why not?
22643    Software Integration Developer (Embedded)****K...
22794    Web Developer, SharePoint, C, JavaScript, Net,...
23813                                 Director in waiting?
24213    SPONSORSHIP SALES EXECUTIVE SALES EXP? GRADUAT...
24336    Senior Diary & Events Coordinator De Vere Venu...
24419    OPERATIONS MANAGER Great tasting, locally sour...
24612            Internal Sales Account Manager ? IT Sales
24614    Project Manager / Consultant ? Web Technologie...
24616    C ASPNET Web Support Developer ? MySQL, JavaSc...
Name: Title, Length: 79, dtype: object

There are alot of special charaters that are in the title. But all of these do make sense:
e.g. `+` for `C++` language, brackets are used in senteces, `%` for e.g. `10%` bonus, `` for incomplete. One thing that does not make much sense is ?. This is correctly used for alot of cases where there are catch phrases in the title such as `Experienced Brokers? Fancy a change of Commodi...` but in othere cases such as `?Classic? IT Business Analyst Logistics, Retai...` or `Community Occupational Therapist ??? Leicester...` it doesnt really make sense. 

Again before removing these, they could represent special meaning and but very less likely. Also, if we do remove there might be certain cases where the `?` did make sense it would not anymore. But after cleaning we will gain more benifit than loss. Hence we can go ahead and remove all `?`.

In [88]:
df.Title = df.Title.str.replace('\?', '', case=False)

In [89]:
#looking for dirty values
a = r".*(\?).*"
set([re.search(a, str(x)).group(1) for x in df['Title'].tolist() if re.search(a, str(x))])

set()

After this the title is as clean as it can be. Hence, we move on.

## 5. write back

Now that the data is clean we can write the cleaned dataset back.

In [90]:
df.to_csv('dataset1_solution.csv')

In [91]:
len(df)

25077

## 6. Summary
This assessment measured the understanding of basic text file processing techniques in the Python programming language. The main outcomes achieved while applying these techniques were:

Data wrangling and cleaning consumed quite a lot of time. Some of the dirty data was easily identified due to clear format issues, however due to the lack of data or worry of loosing data or adding more noise in the data creates complications on how to deal with dirty values. 

For example, in the case for title there seemed to be no pattern, and hence trying to clean it altogether wouldve definitely added more noise in the data. In this case cleaning wouldve been taken a long time as we wouldve had to understand fully what the variable values mean (such as `****`) 

All in all, after this excersise, it proves that, cleaning and filtering the data at the collection stage wouldve been much better than aquiring dirty data and then trying to clean it. 
L